

#sidebar{
	position:fixed;
	top:80px;
	list-style-type:none;
}


.t-h1{
	margin-top: 0px;
}

#sidebar li{
	height: 60px;
}

.jiathis_style_0{
	cursor:pointer;
}

.weiboshare{
	background-position: 10px -259px;
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: #fafafa;
	border-bottom: 1px solid #f0f0f0;
}

.weichatshare{
	background-position: -50px -259px;
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: #fafafa;
	border-bottom: 1px solid #f0f0f0;
}

.qqzoneshare{
	background-position: -121px -259px;
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: #fafafa;
	border-bottom: 1px solid #f0f0f0;
}

.totopsctoll{
	margin-top: 15px;
	background-position: -180px 11px;
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: #fafafa;
	color: #bbb;
	text-align: center;
	cursor: pointer;
}

.articlecollection{
	margin-top: 15px;
	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: #fafafa;
	color: #bbb;
	text-align: center;
	border-bottom: 1px solid #f0f0f0;
	cursor: pointer;
}

.commentusericon{
	width: 50px;
	height: 50px;
}

#article{
	padding-left: 30px;
}

.article-author {
color: #bbb;
font-size: 16px;
margin: 20px 0 27px;
}

.author-name{
color: #333;
}

.icon-line{
	background-image: url(/static/images/sharebackground.png);
	background-position: -145px -1px;
	display: inline-block;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
}

.article-time {
margin: 0 15px 0 10px;
}

.article-share {
margin: 0 15px 0 0;
}

.article-img-box {
	text-align: center;
}

.article-img-box img {
	width: 100%;
	height: 355.5px
}
.article-content-wrap{
	line-height: 30px;
	margin-top: 25px;
}

.article-content-wrap p {
display: block;
font-size: 16px;
}

.article-content-wrap img {
	max-width: 100%;
	max-height: 600px;
}

.comment-form{
	border-top: 1px solid #f0f0f0;
	margin-top: 160px;
	margin-bottom: 50px;
}

.span-mark-author {
	border-bottom: 4px solid #67CA87;
	color: #333;
	margin-top:-28px;
	height: 28px;
	position: absolute;
	font-size: 18px;
}

.span-mark-hotcomment{
	border-bottom: 4px solid #67CA87;
	color: #333;
	margin-top:3px;
	height: 28px;
	position: absolute;
	font-size: 18px;
}

#dividedline{
	border-top:1px solid #f0f0f0;
	margin-bottom: 15px;
	margin-top: 30px
}

.author-info{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 14px;
}

.article-pl{
	margin-right: 15px
}
.form-control {
	width: 100%;
	border-radius: 0px;
}

.form-comment label, .form-comment-reply label{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}



.btn-block{
	margin-bottom: 30px;
	margin-top: 20px;
	height: 48px;
	border-radius: 0px;
	width: 148px;
}


.comment{
	position: relative;
	top: 30px;
	padding: 15px 0;
	border-top: 1px solid #f0f0f0;
}

.btn-dp {
	color: #bbb;
	cursor: pointer;
	width: 88px;
	}

.btn-dp-right {
	color: #bbb;
	cursor: pointer;
	}

.icon-dp{
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	background-position: -170px -173px;
}


.icon-dp-positive{
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	background-position: -220px -173px;
}

.icon-dp-negtive{
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	background-position: -270px -171px;
	margin-left: 8px;
}


.form-comment-reply{
	display: none;
	margin-top: 8px;
}

.form-comment-reply .form-control{
	height: 54px;
}

.blockquote{
	border-left-width: 2px;
	background-color: #fafafa;
	margin: 15px 0 18px;
	padding: 20px 30px;
}





.authboard{
	width: 700px;
	height: 200px;
	background-color:  #fafafa;
	border: 1px solid #f0f0f0;
	color: #bbb;
	text-align: center;
}

.authboardword{
margin-top: 80px

}

.form-control {
height: 80px
}

#userpro{
	background-color:  #fafafa;
	width: 100%;
	padding-top: 30px;
	/*padding: 0 30px 30px 30px;*/
	/*text-align: center;*/
}

.usericon{
	width: 80px;
	height: 80px;
}

#userpro1{
color: #A19F9F;
text-align: center;
padding: 0px 30px 30px 30px;
/*padding-top: 12px*/
}

.head{
	/*color: #449d44;*/
	border-bottom: 0px solid #ddd;
	font-weight: 700;
	font-size: 18px;
	padding-left: 23px;
	border-left: 4px solid #67CA87;
	/*margin-top: 230px;*/
	/*margin-left: 9px;*/
	margin-bottom: 9px;
	color: #9e9e9e;
	/*background-color: #CCF4D9;*/
}

a:link{
	text-decoration: none;
}

a{
	color: #337ab7;
}

.rightimg a, .rightitle a{
	color: black;
}


.rightimg{
	padding: 30px;
	border-bottom: 1px solid #f0f0f0;
}

.rightimg img{
	width: 100%;
	height:124px;

}
.rightitle{
	margin-top: 15px;
	text-align: center;
}

#relationartical{
	margin-top: 120px;
	border-top: 1px solid #f0f0f0;
} 

#relationartical img{
	width: 100%;
	height:124px;
	margin-top: 30px;
}

#hotcategory{
	background-color:  #fafafa;
	width: 100%;
	/*text-align: center;*/
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top:20px;
}

#hotarticle{
	padding-top: 20px;
	background-color:  #fafafa;
/*	height: 200px;*/
	width: 100%;
	margin-top: 30px;

}
.rightcategory{
	width: 100%;
	padding: 30px;
	padding-top: 20px;
	overflow: hidden;
	zoom: 1;
}

.rightcategory:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
}
.search-tag a{
	color: #449d44;
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 33px;
}

.search-tag{
	float: left;
	margin: 0 10px 10px 0;
	background-color: #CCF4D9;
	padding: 0 10px;
	cursor: pointer;	
	color: #333;
	font-family: Arial,"Microsoft yahei","Hiragino Sans GB","冬青黑体简体中文 w3","Microsoft Yahei","Hiragino Sans GB","冬青黑体简体中文 w3",STXihei,"华文细黑","微软雅黑",SimSun,"宋体",Heiti,"黑体",sans-serif;
}

#morecomment-btn-block{
	width: 100%;
	color: #bbb;
	border: 1px solid #f0f0f0;
	outline:none;
/*background-color: white;*/
}


#morecomment{
	padding: 0px;
}

.container-fluid {
	padding: 0px;
}

#catetag{
	margin-top: 80px;
}


.pl-content{
	margin-top: 15px;
}
.author-time{
	color: #bbb;
}

h4 b{
	color: #9e9e9e;
	padding: 30px;
}
.span-mark{
	display: inline-block;
	background-color: #67CA87;
	position: absolute;
	z-index: 1;
	height: 20px;
	line-height: 20px;
	margin: -28px 0 0;
	width: 4px;
}


.relationblock .col-xs-4:last-child{
	padding-right: 0px;
	padding-left: 30px;
}

.relationblock .col-xs-4:first-child{
	padding-right: 30px;
	padding-left: 0px;
}

.modal-open {
	overflow: auto;
	padding: 0 !important;
}

.modal.msg-popup {
	top: auto;
}

.modal.msg-popup .modal-dialog {
	width: 300px !important;
	margin: 30px auto 100px;
}

/* .modal.msg-popup .modal-body {
background-color: #f2dede;
color: #fff;
}*/

.modal.msg-popup .modal-content {
	border: none;
}


a:hover{
	color: #337ab7;
}