.navbar, .navbar-default, .navbar-static-to{
	margin-bottom: 0px;
	background-color: #FFFFFF;

}
.container{
	width: 90% !important;
	/* width: 1200px !important;*/
}

.dropdown{
	display:none;
}

.navbar-default .navbar-nav>li>a {
	color: black;
	font-size:18px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover  {
color: #FFF;
background-color: #449d44;
}

body {
color: #333;
font-family: Arial,"Microsoft yahei","Hiragino Sans GB","冬青黑体简体中文 w3","Microsoft Yahei","Hiragino Sans GB","冬青黑体简体中文 w3",STXihei,"华文细黑","微软雅黑",SimSun,"宋体",Heiti,"黑体",sans-serif;
}

.navbar, .navbar-default, .navbar-static-top{
	margin-bottom: 30px;
}

div{
	word-break:break-all;
}