


.container-home{
	/*width: 90%;*/
	margin-top: 30px;
}

.categorytitle{
	margin-bottom: 60px;
	/*margin-left: 15px;*/
	color: #bbb;
	/*border-top: 1px solid #f0f0f0;*/
}

.carousel-control{
	width: 0;
}

.glyphicon-chevron-right{
	margin-right: 0px;
}

.glyphicon-chevron-left{
	margin-left: 0px;
}

.carousel{
	width:100%;
	max-height:400px;
	margin-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

.item, .item img{
		width:100%;
	max-height:400px;
}


 .item h3, .item p{
	color: rgb(255, 255, 255);
}

.leftcontainer{
/*border-top: 1px solid #f0f0f0;*/
}

.span-mark-author {
	border-bottom: 4px solid #67CA87;
	color: #333;
	margin-top:-28px;
	height: 28px;
	position: absolute;
	font-size: 18px;
	display: inline-block;
	display:block;
}
.item a:link/*, .item a:visited, .item a:hover, .item a:active*/{
	text-decoration: none;
}

/*.center-block{
  width:350px;
  height:250px;
  margin-bottom: 20px;
}*/

.rightblock{
	/*background-image: url(/static/images/IMG_1784.jpg);*/
	height: 200px;
	width: 100%;
	background-size:100%;
	margin-top: 0px;
	margin-bottom: 30px;
}

.leftblock{
	/*background-image: url(/static/images/IMG_1784.jpg);*/
	height: 200px;
	width: 376px;
	background-size:100%;
	margin-bottom: 30px;
	/*margin-left: 15px;*/
/*	margin-right: 15px;*/
}

.leftblock1{
	/*background-image: url(/static/images/IMG_1784.jpg);*/
	height: 200px;
	width: 376px;
	background-size:100%;
	margin-bottom: 30px;
/*	margin-bottom: 30px;*/
/*	margin-right: 15px;*/
	/*text-aline:right;*/
}


.rightblock h3{
/*text-align:center;
margin-top: 50%;*/
color: rgb(255, 255, 255);
margin-right: 2px;
position:absolute;
bottom:20px

}

.rightblock a:link/*, .rightblock a:visited, .rightblock a:hover, .rightblock a:active*/{
	text-decoration: none;
}

.bg-primary{
	padding: 15px;
	margin-bottom: 0px;
	background-color: #f63756;
	margin-top: 0px;
	width: 100%;
}




.leftblock h3{
/*text-align:center;
margin-top: 50%;*/
color: rgb(255, 255, 255);
margin-right: 2px;
position:absolute;
bottom:20px

}

.leftblock a:link/*, .leftblock a:visited, .leftblock a:hover, .leftblock a:active*/{
	text-decoration: none;
}



.leftblock1 h3{
/*text-align:center;
margin-top: 50%;*/
color: rgb(255, 255, 255);
margin-right: 2px;
position:absolute;
bottom:20px

}

/*.leftblock1 a:link, .leftblock1 a:visited, .leftblock1 a:hover, .leftblock1 a:active{
	text-decoration: none;
}*/



.rightwordblock h3{
	font-size: 18px;
	color: black;
	margin-top: 5px;
}
.rightwordblock p, .rightwordblock span{
	font-size: 14px;
	color: #999;
	line-height: 24px;
}
.associatetitle{
	margin-top: 10px;
}

.newsblock{
	padding: 15px 0;
	/*border-bottom: 1px solid #f0f0f0;*/
	border-top: 1px solid #f0f0f0;
	}

.leftimgblock{
	padding-left: 0px;
}

/*.onmouseover{
	margin-bottom: 30px;
	margin-top: 20px;
}*/

.posttime{
	margin-left: 15px;
}

.associatetitle {
	padding-left: 15px;
}


#dividedline{
	border-top:1px solid #f0f0f0;
	margin-bottom: 30px;
}
.usericon{
	width: 25px;
	height: 25px;
}



.icon-reply{
	background-position: -67px -1px;
	display: inline-block;
	background-image: url(/static/images/sharebackground.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	margin-right: 3px;
	margin-left: 10px;
}

.icon-collection{
	background-position: -106px -3px;
	display: inline-block;
	background-image: url(/static/images/sharebackground.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	margin-left: 10px;
	margin-right: 3px;
}

/*.rightwordblock a{
	color: black;
}

.rightwordblock a:link {
	text-decoration: none;
}

.rightwordblock a:hover {
	color: #3ca5f6;
}*/

.writer a{
	color: #337ab7
}

#rightstableblock{
	width: 188.5px;
	max-height: 100%;
	overflow:auto; 
	margin-left: 30px;
}

#hotarticle{
	padding-top: 20px;
	background-color:  #fafafa;
/*	height: 200px;*/
	width: 100%;
	margin-top: 30px;

}


.rightitle{
	border-top: 1px solid #f0f0f0;
	padding: 15px 30px!important;
	color: #333;
	font-size: 14px;
	vertical-align: middle;
}
.rightnewtpic{
	width: 100%;
	/*zoom: 1;*/
	overflow: hidden;
}

.span-mark{
	display: inline-block;
	background-color: #67CA87;
	position: absolute;
	z-index: 1;
	height: 20px;
	line-height: 20px;
	margin: -28px 0 0;
	width: 4px;
}

.mod-thumb{
	width: 32px;
	height: 32px;
	position: absolute;
	overflow: visible;
}

.mod-thumb img{
	vertical-align: middle;
	width: 32px;
	height: 32px;
	margin-top: -5px
}

.project-content{
	margin-left: 48px;
	font-size: 16px;
}


#morecomment{
	padding: 0px;
}

#morecomment-btn-block{
	width: 100%;
	color: #bbb;
	border: 1px solid #f0f0f0;
	outline:none;
	margin-bottom: 50px;
}

.btn-block {
/*	width: 148px;
	margin-top: -45px;*/
	border-radius: 0;
}

.container-fluid {
	padding: 0px;
}

h4 b{
	color: #9e9e9e;
	padding: 30px;
}

a{
	color:black;
}

a:link{
	text-decoration: none;
}
a:hover{
	color: #337ab7;
}