.background-img{
	/*background: url(/static/media/images/blackboard1.jpg);*/
/*	background-repeat:no-repeat;
	background-size:100% 100%;
	height: 300px;
	padding: 75px 75px;*/
	background-color: #5cb85c;
	padding: 30px;
}

/*.head{
	background-color: #5cb85c;
	text-align: center;
	padding: 30px;
	min-width: 600px;
}*/
.main-wrap {
	display: table;
	margin-right: auto;
	margin-left: auto;
}

.l-sidebar {
	width: 100px;
	display: table-cell;
	vertical-align: top;
	color: #fff;
}

.l-sidebar img{
	width: 126px;
	height: 126px;
	border-radius: 5px;
	position: relative;
	vertical-align: middle;
}

.main {
/*	width: 1000px;*/
	padding: 0 20px;
	display: table-cell;
	vertical-align: top;
	color: #fff;
}

.name{
height: 30px;
line-height: 30px;
margin: 0;
padding: 0;
font-size: 24px;
font-weight: 600;
}

.year {
font-size: 16px;
margin-left: 10px;
color: #bbb;
}

.brief {
font-size: 15px;
padding: 7px 0;
}

.brief p{
margin: 0px;
}

.tags {
padding: 7px 0;
}
.i-tag {
display: inline-block;
padding: 2px 8px;
border: 1px solid hsla(0,0%,100%,.4);
border-radius: 2px;
font-size: 13px;
vertical-align: middle;
margin-right: 3px;
}

.address {
margin-right: 15px;
float: left;
height: 30px;
font-size: 13px;
line-height: 30px;
}

.website {
display: inline-block;
color: #fff;
height: 30px;
font-size: 13px;
line-height: 30px;
float: left;
}

.links a, .links a:focus, .links a:hover{
text-decoration: none;
}

 .links a:hover {
color: #fff;
}

.links .glyphicon{
	margin-left: -5px;
	margin-right: 10px;

}

.ff-container {
	margin-top: 30px;
}

.ff-title{
	height: 30px;
text-align: center;
color: #333;
font-size: 25px;
font-weight: 100;
}

.ff-container-title{
font-size: 15px;
color: #333;
font-weight: 600;
margin-top: 50px;
}

.ff-container-title .glyphicon{
	 color: #67CA87;
}

.ff-container-content{
	margin-left: 19px;
	margin-top: 5px;
	line-height: 20px;
	font-size: 13px;
	color: #666;
	word-break: break-all;
	word-wrap: break-word;
	text-align: justify;
}

.ff-imgshow{
	background-color: #f0f4fb;
}

.firm-img img{
	width: 100%;
}

.ff-imgshow {
	margin-top: 50px;
}

.firm-img{
	padding: 30px;
}