.group-name {
	height: 44px;
	font-size: 16px;
	/*margin-left: 100px;*/
	vertical-align: middle;
	display: table-cell;
	font-size: 24px;
}

.group-associatetitle{
/*	min-height: 170px;*/
	width: 100%;
	background-color: #fafafa;
	margin: 30px 0 80px;
	padding: 30px;
	font-size: 16px;
	line-height: 1.42857143;
}

.group-founder{
	font-size: 16px;
	line-height: 40px;
}

.commentusericon{
	width: 25px;
	height: 25px;
	border-radius: 3px;
	background-color: #eee;
	/*margin: 4px 1em 0 0;*/
	vertical-align: middle;
}
a{
	color:black;
}

a:link{
	text-decoration: none;
}
a:hover{
	color: #337ab7;
}