.group-name {
	height: 44px;
	font-size: 16px;
	/*margin-left: 100px;*/
	vertical-align: middle;
	display: table-cell;
	font-size: 24px;
}

li a{
	color: #bbb;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.breadcrumbs li {
	float: left;
	font-size: 18px;
	color: #bbb;
}

.breadcrumbs{
	display: inline-block;
	margin-bottom: 10px;
}

.group-associatetitle{
/*	min-height: 170px;*/
	width: 100%;
	background-color: #fafafa;
	margin: 30px 0 80px;
	padding: 30px;
	font-size: 16px;
	line-height: 1.42857143;
}

.group-founder{
	font-size: 16px;
	line-height: 40px;
}

.commentusericon{
	width: 25px;
	height: 25px;
	border-radius: 3px;
	background-color: #eee;
	/*margin: 4px 1em 0 0;*/
	vertical-align: middle;
}

.group-list{
	padding: 15px 0;
	border-bottom: 1px solid #f0f0f0;
}

.group-list a{
	color: #444;
	font-size: 14px;
}

.group-list-block{
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	font-size: 16px;
	line-height: 1.42857143;
}


.span-mark-author {
	border-bottom: 4px solid #67CA87;
	color: #333;
	margin-top:-28px;
	height: 28px;
	position: absolute;
	font-size: 18px;
}

.group-information{
	margin: 0px 0 0 0;
	font-size: 14px;
	color: #999;
	line-height: 24px;
	margin-top: 6px;
}

.group-information a, .group-founder a{
	color: #337ab7;
}

.group-informatio-blank{
	margin-right: 20px
}

#rightstableblock{
	width: 268.5px;
	max-height: 100%;
	overflow:auto; 
}

#hotarticle{
	padding-top: 20px;
	background-color:  #fafafa;
/*	height: 200px;*/
	width: 100%;
	margin-top: 30px;

}

h4 b{
	color: #9e9e9e;
	padding: 30px;
}

.mod-thumb{
	width: 78px;
	height: 42px;
	position: absolute;
	overflow: hidden;
}

.mod-thumb img{
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.project-content{
	margin-left: 98px;
	font-size: 16px;
}

.rightitle{
	border-bottom: 1px solid #f0f0f0;
	padding: 15px 30px!important;
	color: #333;
	font-size: 14px;
}

.rightnewtpic{
	width: 100%;
	/*zoom: 1;*/
	overflow: hidden;
}

.span-mark{
	display: inline-block;
	background-color: #67CA87;
	position: absolute;
	z-index: 1;
	height: 20px;
	line-height: 20px;
	margin: -28px 0 0;
	width: 4px;
}

.btn-block {
	width: 148px;
	margin-top: -45px;
	border-radius: 0;
}

.paginationcontain{
	text-align: center;
	margin-top: 30px;
}

.paginator{
	position: relative;
	float: left;
	margin-left: -1px;
	line-height: 27px;
	color: #333;
	background-color: #f5f5f5;
	margin-right: 10px;
	border-radius: 0;
	height: 36px;
	width: 36px;
	border: none;
	padding: 6px 0;
	/*border-radius: 10px;*/
	/*background: rgba(0,0,0,.2);*/
}

.paginator_current{
	position: relative;
	float: left;
	margin-left: -1px;
	line-height: 27px;
	color: #fff;
	background-color:  #67CA87;
	margin-right: 10px;
	border-radius: 0;
	height: 36px;
	width: 36px;
	border: none;
	padding: 6px 0;
	/*border-radius: 10px;*/
	/*background: #67CA87;*/
}


a{
	color:black;
}

a:link{
	text-decoration: none;
}
a:hover{
	color: #337ab7;
}