.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.original-mark {
position: absolute;
top: 0.5rem;
left: 0.4rem;
display: block;
padding: 0 0.5rem;
color: #fff;
font-size: 1.2rem;
text-align: center;
border-radius: 0.2rem;
z-index: 11;
background-color:#5cb85c;
}


.container-home{
	/*width: 90%;*/
	/*margin-top: 30px;*/
}

.carousel-control{
	width: 0;
}

.carousel-caption {
right: 5%;
left: 5%;
padding-bottom: 30px;
}

.glyphicon-chevron-right{
	margin-right: 0px;
}

.glyphicon-chevron-left{
	margin-left: 0px;
}

.carousel{
	width:100%;
	height:100%;
	margin-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
	z-index: 1;
}

.item, .item  a img{
		width:100%;
	/*height:400px !important;*/
}


 .item h3, .item p{
	color: rgb(255, 255, 255);
}

.leftcontainer{
/*padding-right: 0px;*/
}

.item a:link/*, .item a:visited, .item a:hover, .item a:active*/{
	text-decoration: none;
}



.rightblock{
	text-align: center;
	position:absolute; 
	z-index:2; 
	/*top:8px;*/
	bottom: 12px;
	color: white;
	font-size: 18px;
	font-weight: 400;
	/*margin-bottom: 50px;*/
	width: 91%;
	margin-left: 4.5%;
}



.leftblock{
	/*background-image: url(/static/images/IMG_1784.jpg);*/
	height: 200px;
	width: 376px;
	background-size:100%;
	margin-bottom: 30px;
	/*margin-left: 15px;*/
/*	margin-right: 15px;*/
}

.leftblock1{
	/*background-image: url(/static/images/IMG_1784.jpg);*/
	height: 200px;
	width: 376px;
	background-size:100%;
	margin-bottom: 30px;
/*	margin-bottom: 30px;*/
/*	margin-right: 15px;*/
	/*text-aline:right;*/
}


.rightblock h3{
	/*text-align:center;
	margin-top: 50%;*/
	text-align:center;
	margin-top: 0px;
	color: rgb(255, 255, 255);
	margin-right: 2px;
}

a:hover/*, .rightblock a:visited, .rightblock a:hover, .rightblock a:active*/{
	text-decoration: none;
}

.bg-primary{
	padding: 15px;
	margin-bottom: 0px;
	background-color: #f63756;
	margin-top: 0px;
	width: 100%;
}

.disputetopic img{
	height: 100%;
	width: 100%;
}



.leftblock h3{
	/*text-align:center;
	margin-top: 50%;*/
	color: rgb(255, 255, 255);
	margin-right: 2px;
	position:absolute;
	bottom:20px
}

.leftblock a:link/*, .leftblock a:visited, .leftblock a:hover, .leftblock a:active*/{
	text-decoration: none;
}



.leftblock1 h3{
	/*text-align:center;
	margin-top: 50%;*/
	color: rgb(255, 255, 255);
	margin-right: 2px;
	position:absolute;
	bottom:20px
}

.leftblock1 a:link, .leftblock1 a:visited, .leftblock1 a:hover, .leftblock1 a:active{
	text-decoration: none;
}

.rightwordblock h3{
	font-size: 18px;
	color: #333;
	margin-top: 5px;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.associatetitle{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


.rightwordblock p, .rightwordblock span{
	font-size: 14px;
	color: #999;
	line-height: 24px;
}

.associatetitle{
	margin-top: 10px;
}

.newsblock{
	padding-left: 0px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #f0f0f0;
	}

.leftimgblock{
	padding-left: 0px;
}

.leftimgblock a img{
	width: 90%
}


.posttime{
	margin-left: 15px;
}

.associatetitle {
	padding-left: 15px;
}

.writer {

}

.usericon{
	width: 25px;
	height: 25px;
}



.icon-reply{
	background-position: -67px -1px;
	display: inline-block;
	background-image: url(/static/images/sharebackground.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	margin-right: 3px;
	margin-left: 10px;
}

.icon-collection{
	background-position: -106px -3px;
	display: inline-block;
	background-image: url(/static/images/sharebackground.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	margin-left: 10px;
	margin-right: 3px;
}

.rightwordblock a{
	color: #333;
}

.rightwordblock{
	padding-left: 0px;
}

.rightwordblock a:link {
	text-decoration: none;
}

.rightwordblock a:hover {
	color: #3ca5f6;
}

.writer a{
	color: #337ab7
}


.head{
	/*color: #449d44;*/
	border-bottom: 0px solid #ddd;
	font-weight: 620;
	font-size: 18px;
	padding-left: 12px;
	border-left: 4px solid #67CA87;
	margin-bottom: 9px;
}

.table>tbody>tr>td, .table>tbody>tr>th{
	border-top: 0px solid #ddd;
	border-bottom: 0px solid #ddd;
}

.table>tbody>tr>td>a{
	font-size: 14px;
	overflow: hidden;
	color: #444;
	line-height: 1.5em;
	display: block;
	cursor: pointer;
	padding-left: 12px;
	position: relative;
	text-decoration: none;
}

.hotopic>tbody>tr>td>a:before, .nicecomment>tbody>tr>td>a:before{
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	background-color: #777;
	margin-bottom: 3px;
	position: absolute;
	top: 8px;
	left: 0;
	color: #9e9e9e;
}

.table>tbody>tr>td>a>span{
	margin-left: 9px;
	color: #999;
}

#morecomment-btn-block{
	width: 100%;
	color: #bbb;
	border: 1px solid #f0f0f0;
	outline:none;
	margin-bottom: 50px;
}

.container-fluid {
	padding: 0px;
}


.hotnews>tbody>tr>th{
	width: 1px;
	margin-right: 0px;
	color: #9e9e9e;
}

.hotnews>tbody>tr>td>a{
	padding: 0px;
}

.nicecomment>tbody>tr>td>a{
	/*padding: 12px;*/
	margin-left: 0px;
	color: #9e9e9e;
}

.advertisment1, .advertisment2{
/*	width: 100%;*/
	/*height: 130px;*/
	margin-bottom: 30px;
}

.advertisment1 a img, .advertisment2 a img{
	width: 100%;
	height: 100%;
}



.nicecommentblock, .hotopicblock, .hotnewsblock{
	background-color: #fafafa;
	padding-top: 12px; 
}


.weixingongzhong{
	text-align: center;
}

.weixingongzhong img{
	width: 215px;

}

td p{
	padding-left: 12px;
}

.table>tbody>tr>td>a:hover{
	color: #3ca5f6;
}