

.container-home{
	width: 90%;
	margin-top: 30px;
}

.carousel-control{
	width: 0;
}

.glyphicon-chevron-right{
	margin-right: 0px;
}

.glyphicon-chevron-left{
	margin-left: 0px;
}

.carousel{
	width:100%;
	max-height:400px;
	margin-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

.item, .item img{
		width:100%;
	max-height:400px;
}


 .item h3, .item p{
	color: rgb(255, 255, 255);
}

.leftcontainer{
/*padding-right: 0px;*/
}

.item a:link/*, .item a:visited, .item a:hover, .item a:active*/{
	text-decoration: none;
}

/*.center-block{
  width:350px;
  height:250px;
  margin-bottom: 20px;
}*/

.rightblock{
	/*background-image: url(/static/images/IMG_1784.jpg);*/
	height: 200px;
	width: 100%;
	background-size:100%;
	margin-top: 0px;
	margin-bottom: 30px;
}

.leftblock{
	/*background-image: url(/static/images/IMG_1784.jpg);*/
	height: 200px;
	width: 376px;
	background-size:100%;
	margin-bottom: 30px;
	/*margin-left: 15px;*/
/*	margin-right: 15px;*/
}

.leftblock1{
	/*background-image: url(/static/images/IMG_1784.jpg);*/
	height: 200px;
	width: 376px;
	background-size:100%;
	margin-bottom: 30px;
/*	margin-bottom: 30px;*/
/*	margin-right: 15px;*/
	/*text-aline:right;*/
}


.rightblock h3{
/*text-align:center;
margin-top: 50%;*/
color: rgb(255, 255, 255);
margin-right: 2px;
position:absolute;
bottom:20px

}

.rightblock a:link/*, .rightblock a:visited, .rightblock a:hover, .rightblock a:active*/{
	text-decoration: none;
}

.bg-primary{
	padding: 15px;
	margin-bottom: 0px;
	background-color: #f63756;
	margin-top: 0px;
	width: 100%;
}




.leftblock h3{
/*text-align:center;
margin-top: 50%;*/
color: rgb(255, 255, 255);
margin-right: 2px;
position:absolute;
bottom:20px

}

.leftblock a:link/*, .leftblock a:visited, .leftblock a:hover, .leftblock a:active*/{
	text-decoration: none;
}



.leftblock1 h3{
/*text-align:center;
margin-top: 50%;*/
color: rgb(255, 255, 255);
margin-right: 2px;
position:absolute;
bottom:20px

}

.leftblock1 a:link, .leftblock1 a:visited, .leftblock1 a:hover, .leftblock1 a:active{
	text-decoration: none;
}

.rightwordblock h3{
	font-size: 18px;
	color: black;
	margin-top: 5px;
}
.rightwordblock p, .rightwordblock span{
	font-size: 14px;
	color: #999;
	line-height: 24px;
}
.associatetitle{
	margin-top: 10px;
}

.newsblock{
	padding-left: 0px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-style: solid;
	border-bottom-width: 1px;
	border-color: #E4E2E2;;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	}

.leftimgblock{
	padding-left: 0px;
}

/*.onmouseover{
	margin-bottom: 30px;
	margin-top: 20px;
}*/

.posttime{
	margin-left: 15px;
}

.writer, .associatetitle {
	padding-left: 0px;
}

.weiboshare{
	background-position: 0 -38px;
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-left: 30px
}

.weichatshare{
	background-position: -37px -37px;
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-left: 30px
}

.qqzoneshare{
	background-position: -76px -37px;
	background-image: url(/static/images/sharebackground.png);
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-left: 30px
}

.rightwordblock a{
	color: black;
}

.rightwordblock a:link {
	text-decoration: none;
}

.rightwordblock a:hover {
	color: #3ca5f6;
}