

.container-home{
	/*width: 90%;*/
	margin-top: 30px;
}

.carousel-control{
	width: 0;
}

.glyphicon-chevron-right{
	margin-right: 0px;
}

.glyphicon-chevron-left{
	margin-left: 0px;
}

.carousel{
	width:100%;
	max-height:400px;
	margin-bottom: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

.item, .item img{
		width:100%;
	max-height:400px;
}


 .item h3, .item p{
	color: rgb(255, 255, 255);
}

.leftcontainer{
/*padding-right: 0px;*/
}

.item a:link/*, .item a:visited, .item a:hover, .item a:active*/{
	text-decoration: none;
}



.rightblock{
	text-align: center;
	position:absolute; 
	z-index:2; 
	left:10px; 
	top:10px;
	color: white;
	font-size: 18px;
	font-weight: 400;
	margin: 130px 30px 30px;
}



.leftblock{
	/*background-image: url(/static/images/IMG_1784.jpg);*/
	height: 200px;
	width: 376px;
	background-size:100%;
	margin-bottom: 30px;
	/*margin-left: 15px;*/
/*	margin-right: 15px;*/
}

.leftblock1{
	/*background-image: url(/static/images/IMG_1784.jpg);*/
	height: 200px;
	width: 376px;
	background-size:100%;
	margin-bottom: 30px;
/*	margin-bottom: 30px;*/
/*	margin-right: 15px;*/
	/*text-aline:right;*/
}


.rightblock h3{
	/*text-align:center;
	margin-top: 50%;*/
	text-align:center;
	margin-top: 0px;
	color: rgb(255, 255, 255);
	margin-right: 2px;
}

a:hover/*, .rightblock a:visited, .rightblock a:hover, .rightblock a:active*/{
	text-decoration: none;
}

.bg-primary{
	padding: 15px;
	margin-bottom: 0px;
	background-color: #f63756;
	margin-top: 0px;
	width: 100%;
}

.disputetopic img{
	height: 200px;
	width: 100%;
}



.leftblock h3{
	/*text-align:center;
	margin-top: 50%;*/
	color: rgb(255, 255, 255);
	margin-right: 2px;
	position:absolute;
	bottom:20px
}

.leftblock a:link/*, .leftblock a:visited, .leftblock a:hover, .leftblock a:active*/{
	text-decoration: none;
}



.leftblock1 h3{
	/*text-align:center;
	margin-top: 50%;*/
	color: rgb(255, 255, 255);
	margin-right: 2px;
	position:absolute;
	bottom:20px
}

.leftblock1 a:link, .leftblock1 a:visited, .leftblock1 a:hover, .leftblock1 a:active{
	text-decoration: none;
}

.rightwordblock h3{
	font-size: 18px;
	color: #333;
	margin-top: 5px;
}

.rightwordblock p, .rightwordblock span{
	font-size: 14px;
	color: #999;
	line-height: 24px;
}

.associatetitle{
	margin-top: 10px;
}

.newsblock{
	padding-left: 0px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-style: solid;
	border-bottom-width: 1px;
	border-color: #E4E2E2;;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	}

.leftimgblock{
	padding-left: 0px;
}



.posttime{
	margin-left: 15px;
}

.writer, .associatetitle {
	padding-left: 15px;
}
.usericon{
	width: 25px;
	height: 25px;
}



.icon-reply{
	background-position: -67px -1px;
	display: inline-block;
	background-image: url(/static/images/sharebackground.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	margin-right: 3px;
	margin-left: 10px;
}

.icon-collection{
	background-position: -106px -3px;
	display: inline-block;
	background-image: url(/static/images/sharebackground.png);
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	margin-left: 10px;
	margin-right: 3px;
}

.rightwordblock a{
	color: #333;
}

.rightwordblock a:link {
	text-decoration: none;
}

.rightwordblock a:hover {
	color: #3ca5f6;
}

.writer a{
	color: #337ab7
}


.head{
	/*color: #449d44;*/
	border-bottom: 0px solid #ddd;
	font-weight: 700;
	font-size: 18px;
	padding-left: 9px;
	border-left: 4px solid #67CA87;
	/*margin-top: 230px;*/
	margin-left: 9px;
	margin-bottom: 9px;
	font-size: 18px;
	font-weight: 700;
	/*background-color: #CCF4D9;*/
}

.table>tbody>tr>td, .table>tbody>tr>th{
	border-top: 0px solid #ddd;
	border-bottom: 0px solid #ddd;
}

.table>tbody>tr>td>a{
	font-size: 14px;
	overflow: hidden;
	color: #444;
	line-height: 1.5em;
	display: block;
	cursor: pointer;
	padding-left: 12px;
	position: relative;
	text-decoration: none;
}

.hotopic>tbody>tr>td>a:before, .nicecomment>tbody>tr>td>a:before{
	content: "";
	display: inline-block;
	width: 3px;
	height: 3px;
	background-color: #777;
	margin-bottom: 3px;
	position: absolute;
	top: 8px;
	left: 0;
	color: #9e9e9e;
}

.table>tbody>tr>td>a>span{
	margin-left: 9px;
	color: #999;
}


.hotnews>tbody>tr>th{
	width: 1px;
	margin-right: 0px;
	color: #9e9e9e;
}

.hotnews>tbody>tr>td>a{
	padding: 0px;
}

.nicecomment>tbody>tr>td>span{
	padding: 12px;
	color: #9e9e9e;
}

.advertisment1, .advertisment2{
	width: 100%;
	height: 100px;
	margin-bottom: 30px;
}

.advertisment1 a img, .advertisment2 a img{
	width: 100%;
	height: 100px;
}
/*
.hotnews{
	border: 1px solid #9e9e9e;
}*/