#erroricon_title {
	padding-left: 0px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 4px;
	margin-bottom: 15px;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 15%;
	display:none;
	margin-left: auto;
	margin-right: auto;
}

.messages li{
	list-style-type:none;
}
.messages {
	padding-left: 0px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 4px;
	margin-bottom: 15px;
	padding-top: 1%;
	padding-bottom: 1%;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p:first-of-type
{
	position: relative;
	width: 100%;
	height: 75px;
	border-bottom: 1px solid #f0f0f0;
}

p:first-of-type
{
	position: relative;
	width: 100%;
	height: 75px;
	border-bottom: 1px solid #f0f0f0;
}

p:nth-of-type(2)
{
	border: none;
	height: auto;
	position: relative;
	width: 100%;
	height: 75px;
}

label{
	position: absolute;
	width: 105px;
	font-size: 16px;
	bottom: 0;
	font-weight: 400;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	cursor: default;
}

#id_title{
	width: 800px;
	position: absolute;
	float: left;
	border-bottom: 1px solid #f0f0f0;
	margin-left: 110px;
	bottom: 4px;
	border: none!important;
	box-shadow: none!important;
	font-size: 16px;
	outline: 0;
}

.django-ckeditor-widget{
	position: relative;
	margin-left: 76px;
	margin-top: -50px;
	top: 20px;
	display: inline-block;
}

.center-warp{
	width: 910px;
	margin: 0 auto;
}



input[type=submit].btn-block {
	width: 148px;
	border-radius: 0;
	margin: 0 auto;
	margin-top: 50px;
}

ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.breadcrumbs li {
	float: left;
	font-size: 18px;
	color: #bbb;
}

.breadcrumbs{
	display: inline-block;
}


.modal-open {
	overflow: auto;
	padding: 0 !important;
}

.modal.msg-popup {
	top: auto;
}

.modal.msg-popup .modal-dialog {
	width: 300px !important;
	margin: 30px auto 100px;
}

/* .modal.msg-popup .modal-body {
background-color: #f2dede;
color: #fff;
}*/

.modal.msg-popup .modal-content {
	border: none;
}

a{
	color:#bbb;
}

a:link{
	text-decoration: none;
}
a:hover{
	color: #337ab7;
}

#cke_71_uiElement, #cke_75_uiElement, #cke_Link_113, #cke_207_uiElement{
	display: none;
}