.icon-delete{
	background-image: url(/static/images/sharebackground.png);
	cursor: pointer;
	width: 20px;
	height: 23px;
	background-position: -231px -434px;
}

.modal-content, .modal-dialog{
	width: 400px;
}

.modal-dialog{
	margin-top: 15%;
}

.modal-body{
	text-align: center;
}

.myModalbtn{
	margin: 10px 20px;
}


li a:hover{
	color: #67CA87;
}

.glyphicon-home, .glyphicon-pencil, .glyphicon-comment, .glyphicon-inbox, .glyphicon-paperclip{
 	margin-right: 10px;
 }