body{
	background-color: #f0f4fb;
}
.container-user{
	/*margin-top: 30px;*/
/*	width: 1194px;*/
}

.leftblock{
	/*border-radius: 6px;*/
	background-color: white;
	margin-right: -26px;
	font-size: 18px;
/*	width: 167px;*/
	padding: 10px 0px;
	border-radius: 5px;
}
.rightblock{
/*	border-radius: 6px;*/
	background-color: white;
	margin-bottom: 3px;
	font-size: 18px;
	/*padding-left: 15px;*/
/*	width: 965px;*/
	padding: 0px 10px;
	border-radius: 5px;
}
.presentation2, .presentation3, .presentation4{
/*	background-color: #f0f4fb;*/
	/*margin-top: 0px;*/
	margin-bottom: -3px;
}




.presentation1{
	border-color: #ddd;
	border-left: 2px solid #67CA87;
	margin-bottom: -3px;
/*	border-top-radius: 6px;*/
}

.presentationw1{
	border-bottom: 2px solid #67CA87;
}

.dashboard{
/*	height: 300px;
	width: 100%;*/
	background-color: white;
	/*border-radius: 6px;*/
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.iconline{
	padding: 15px;
	border-bottom: solid 1px #efefef;
}

.lastline{
	padding: 15px;
}

.icon{
	width: 40px;
	height: 40px;
	margin-left: -25px;
}

.lefticon{
	padding: 0px;
}

.emailline{
	padding-left: 0px;
}

h4 span {

}

/*#emailform{
	width: 60%;
}*/

#erroricon, #erroriconpassword, #erroriconrepassword, #erroriconwrongpassword,
#erroriconemail, #erroriconwrongemail, #erroriconprivcycomment, #erroriconpassword6{
	padding-left: 0px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 4px;
	margin-bottom: 15px;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 40%;
	display:none;
	margin-left: auto;
	margin-right: auto;
}

#successiconprivcycomment{
	padding-left: 0px;
	color: #449d44;
	background-color: #CCF4D9;
	border-color: #CCF4D9;
	border-radius: 4px;
	margin-bottom: 15px;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 30%;
	display:none;
	margin-left: auto;
	margin-right: auto;
}

.form-control{
	margin-bottom: 15px;
}

/*label {

font-weight: 500;
}*/

#privcycommentform form .form-control{
	display: block;
width: 100%;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
margin-top: 10px;
margin-bottom: 20px;
}

#privcycommentform form textarea{
	height: 200px;
}

.btn-messages{
	font-size: 16px;
	border-radius: 0;
}



.modal-content, .modal-dialog{
	width: 400px;
}



.presentation1 a .glyphicon{
	color: #67CA87;
}

.presentation1 a, .presentationw1 a, .presentation5 a,.presentation2 a, .presentation3 a, .presentation4 a,.presentationw2 a, .presentationw3 a{
/*	background-color: #f0f4fb;*/
	color: #555;
}

#iconinputcover h5{
	margin-bottom: 0px;chrome://settings/
}chrome://settings/chrome://settings/chrome://settings/chrome://settings/chrome://settings/