body{
	background-color: #f0f4fb;
}
.container-user{
	margin-top: 30px;
/*	width: 1194px;*/
}

.leftblock{
	/*border-radius: 6px;*/
	background-color: white;
	margin-right: -26px;
/*	width: 167px;*/
}
.rightblock{
/*	border-radius: 6px;*/
	background-color: white;
	margin-bottom: 3px;
	/*padding-left: 15px;*/
/*	width: 965px;*/
}

.presentation2, .presentation3, .presentation4{
/*	background-color: #f0f4fb;*/
	/*margin-top: 0px;*/
	margin-bottom: -3px;
}

.presentation2 a, .presentation3 a, .presentation4 a,.presentationw2 a, .presentationw3 a{
/*	background-color: #f0f4fb;*/
	color: #555;
}


.presentation1 a, .presentationw1 a{
	color: black;
}

.presentation1{
	border-color: #ddd;
	border-left: 2px solid #67CA87;
	margin-bottom: -3px;
/*	border-top-radius: 6px;*/
}

.presentationw1{
	border-bottom: 2px solid #67CA87;
}

.dashboard{
/*	height: 300px;
	width: 100%;*/
	background-color: white;
	/*border-radius: 6px;*/
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.iconline{
	padding: 15px;
	border-bottom: solid 1px #efefef;
}

.lastline{
	padding: 15px;
}

.icon{
	width: 60px;
	height: 60px;
	margin-left: -25px;
}

.lefticon{
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
}

.emailline{
	padding-left: 0px;
}

h4 span {
color: #178fe6;
}

#erroricon {
	padding-left: 0px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	border-radius: 4px;
	margin-bottom: 15px;
	padding-top: 2%;
	padding-bottom: 2%;
	width: 30%;
	display:none;
	margin-left: auto;
	margin-right: auto;
}