body{
	background-color: #f0f4fb;
}
.container-user{
	margin-top: 30px;
/*	width: 1194px;*/
}

.leftblock{
	/*border-radius: 6px;*/
	background-color: white;
	margin-right: -26px;
/*	width: 167px;*/
}
.rightblock{
/*	border-radius: 6px;*/
	background-color: white;
	margin-bottom: 3px;
	/*padding-left: 15px;*/
/*	width: 965px;*/
}

.presentation2, .presentation3, .presentation4{
/*	background-color: #f0f4fb;*/
	/*margin-top: 0px;*/
	margin-bottom: -3px;
}

.presentation2 a, .presentation3 a, .presentation1 a,.presentationw2 a, .presentationw3 a{
/*	background-color: #f0f4fb;*/
	color: #555;
}


.presentation4 a, .presentationw1 a{
	color: black;
}

.presentation4{
	border-color: #ddd;
	border-left: 2px solid #67CA87;
	margin-bottom: -3px;
/*	border-top-radius: 6px;*/
}

.presentationw1{
	border-bottom: 2px solid #67CA87;
}

.dashboard{
	height: 300px;
	width: 100%;
	background-color: white;
	/*border-radius: 6px;*/

}