{% extends "base_1.html" %}
{% block HeadDoc %}
<style type="text/css">
.content-2{
	color: #449d44;
	background-color: #CCF4D9;
	border-color: #CCF4D9;
	padding: 10px;
	text-align: center;
}

body {
background-color: #f0f4fb;
}

.content-1{
	background-color: white;
	padding: 10px;
	width: 70%;
	/*height: 370px;*/
	border: 1px solid #cacaca;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.content-2 ul li{
	margin-top: 10px;
	clear:both;
}
</style>



{% endblock %}

{% block content %}
<div class='container'>
	<div class='content-1 '>
		<div class='content-2 '>
  <ul>
<li>请将您的稿件发送至邮箱：shenanping2008@hotmail.com.</li>

  	  	<li>
  	我们将在24小时之内回复您的投稿.
  	  </li>
  	<li>
  梧桐树一旦录用，作者即可获得80元基础稿费.
  </li>
   	<li>
  除基础稿费外，一旦您的投稿被我们评定为优秀稿件，梧桐树将一次性奖励作者800～3500元的额外优秀稿费. </li>
   	<li>
  产出量较大的优秀作者可以成为梧桐树的独家自由撰稿人，我们会提供优厚的薪资以及自由的工作环境.
  </li>

  </div>
</div>
</div>
{% endblock %}