 {% block HeadDoc %}
{% load time_filter %}
<script>/*去除&nbsp;*/
$(function(){ 
    $('.posttime').each(function() {
      var $this = $(this);
      $this.html($this.html().replace(/&nbsp;/g, ''));
    })
}); 
</script>

<script>
$.fn.imgsizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.56)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(function(){ 
  $('.item, .item  a img').imgsizeFunction();
  $('.leftimgblock a img').imgsizeFunction();
}); 
</script>

<script>
$(window).resize(function(){
  $('.item, .item  a img').imgsizeFunction();
  $('.leftimgblock a img').imgsizeFunction();
});
</script>

{% endblock %}
{% for item in articlequery %}

          <div class="col-sm-12 newsblock" id="{{item.blockid}}">
          <div class="col-sm-4 leftimgblock">
          <a href="{{item.get_absolute_url}}"><img src="{{item.get_image_url}}" ></a>
          </div> 
          <div class="col-sm-8 rightwordblock">
          <h3><a href="{{item.get_absolute_url}}">{{item.title}}</a></h3>
          <span><img  class="img-circle usericon" src='{{item.writer.get_image_url}}'></span>
          <span class="writer"><a href="{{item.writer.get_absolute_url}}">{{item.user}}{{item.writer}}</a></span> 
          <span class="posttime">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</span> 

<i class="icon-reply"></i><span>{{item.id|Article_comment}}  </span>   
<i class="icon-collection"></i><span>{{item.id|Article_collection}} </span> 

          <p class="associatetitle" style='padding-left: 0px;'>{{item.associatetitle}}</p>
          </div> 
          </div> <!-- newsblock -->
{% endfor %}