<!DOCTYPE html>
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/images/Abstract Tree.jpg">

    <title>梧桐观点</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base_1.css" rel="stylesheet">
    <script src="/static/bootstrap-3.3.4-dist/js/ie-emulation-modes-warning.js"></script>
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.bootstrap.min.js"></script>
    <script src="/static/bootstrap-3.3.4-dist/js/ie10-viewport-bug-workaround.js"></script>
  
<script type="text/javascript">
$(function() {
  $("body").on("click", '.categorybutton', function (event){
    event.stopPropagation();  
    $('.category').css("margin-bottom","-70px");
    $('.category').fadeToggle();
  })
  $(document).click(function (event) { $('.category').fadeOut() }); 
})
</script>

  {% block HeadDoc %}
  {% endblock %}


  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="categorybutton"><a href="#">资讯<span class="caret"></span></a></li>
            <li><a href="#about">财经</a></li>
            <li><a href="#contact">话题</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">登录</a></li>
            <li><a href="./">注册 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="../navbar-fixed-top/">投稿</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

    <div class='category'>
      <div class="categoryline ">
      <span class="categoryblock">
      <!-- <a href="{% url 'category_detail' 7 %}">热点</a> -->
      <a href="{% url 'category_detail' 4 %}"><!-- 虚拟现实 -->VR</a>
      <a href="{% url 'category_detail' 2 %}">手机</a>
      <a href="{% url 'category_detail' 3 %}">智能硬件</a>
      <a href="{% url 'category_detail' 6 %}">财经</a>
      <a href="{% url 'category_detail' 5 %}">体育</a>
      </span>
      </div>
    </div>
    </nav>


  {% block content %}
  {% endblock %}

  {% block footer %}

  <div class="footer" id="information">
        <p>

            <a href="#" target="_blank">关于我们</a>
            <a href="#" target="_blank">商务合作</a>
          </p>
        <p>
            <span>Copyright © 2015-2016 梧桐树新闻 - 梧桐树投资</span>

            <a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备16001752号</a>
          </p>

    </div>
  {% endblock %}

</body></html>