{% extends "base_1.html" %}
{% block HeadDoc %}
<style type="text/css">
.content-2{
	color: #449d44;
	background-color: #CCF4D9;
	border-color: #CCF4D9;
	padding: 10px;
	text-align: center;
}

body {
background-color: #f0f4fb;
}

.content-1{
	background-color: white;
	padding: 10px;
	width: 70%;
	/*height: 370px;*/
	border: 1px solid #cacaca;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.content-2 ul li{
	margin-top: 10px;
	clear:both;
}
</style>



{% endblock %}

{% block content %}
<div class='container'>
	<div class='content-1 '>
		<div class='content-2 '>
  <ul>
    <li>
    恭喜！公司已创建成功。
    </li>
  	  	<li>
  	我们将以最快的速度审核。
  	  </li>
  	  	<li>
审核完成后，公司页将可以正常浏览。
</li>

  </ul>
  </div>
</div>
</div>
{% endblock %}
