{% extends "base_1.html" %}
{% load time_filter %}
{% block HeadDoc %}
<link href="/static/css/company_built2.css" rel="stylesheet">



<script>/*当所有cuserrorlist的css的display为none时，才可以提交表单*/
$(document).ready(function(){
  $(".form-content form").submit(function(e){
  	var company_title = $("#company_title").val()
  	var company_location = $("#company_location").val()
  	if (company_title == "" || company_title.length >= 50 )
    {
      $("#company_locationilleg").css("display", "none");
      $("#company_titleilleg").fadeIn("slow");
    return false;
    }
  	else if (company_location == "" || company_location.length >= 200 )
    {
      $("#company_titleilleg").css("display", "none");
      $("#company_locationilleg").fadeIn("slow");
    return false;
    }
    else
    {
    return true;
    }
  	  });
});
 </script>

<script>/*验证输入图片*/
$(document).ready(function(){
  $("div#iconform form").submit(function(e){
    var input = $("#iconinput").val()
    if (input == "")
    {
      $('#erroricon').css("margin-bottom","-34.718px");
    $('#erroricon').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    /*alert("ok");*/
    return true;
    }
  });
});
</script>

{% endblock %}
 {% block content %}

<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="erroricon" style="text-align: center;">请选择图片</div>
        <h4 class="modal-title" id="myModalLabel">公司Logo</h4>
      </div>
      <div class="modal-body">
<div id='iconform'>
<form   enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
<a id='iconinputcover' href="#" onclick="document.getElementById('iconinput').click(); return false;" /><h5>浏览本地图片...</h5></a>
<input id='iconinput' type="file" name="img"  accept="image/*" style="visibility: hidden;"/>
<button type="submit" class="btn btn-default btn-success">上传</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
</div>

      </div>
    </div>
  </div>
</div>

 <div class="container">
 	<div class='head'>
 		<h2>
 			创建"{{company_title}}"
 		</h2>
 		<p>
 			请认真填写公司信息，尽可能填写得完善。
 		</p>
 	</div>

 	<div class='form-content'>
<form class="creat-form"  action="{% url 'company_built2' %}" method="get">
  <div class="ff-form-title">
    <span class='span-mark-author'>
    基本信息
    </span>
  </div>
	<div class='input-row'>
	<div class="sidebar">
	<label class='firm_logo'>公司Logo</label>
	</div>
	<div class='content'>
<!-- <img class="img-circle" src="/static/media/images/companylogo.png" data-target="#myModal1"> -->
	<button  type="button" class="btn btn-success btn_logo" data-toggle="modal" data-target="#myModal1">
<img class="firm_logo_icon" src="{{company.get_image_url}}"  data-target="#myModal1">
</button>
  </div>  
	</div>


	<div class='input-row'>
		<div id="company_locationilleg" class="cuserrorlist">请选择所在地</div>
	<div class="sidebar">
	<label>所在地</label>
	</div>
	<div class='content'>
	<select name="company_location" ng-model="company.form.address1" ng-options="c.id as c.name for c in addr1Options" input-focus="" ng-change="addr1Change()" required="" class="ng-pristine ng-invalid ng-invalid-required ng-touched"><option value="" class="">请选择</option><option value="0" label="北京市">北京市</option><option value="1" label="上海市">上海市</option><option value="2" label="天津市">天津市</option><option value="3" label="重庆市">重庆市</option><option value="4" label="深圳市">深圳市</option><option value="5" label="其它">其它</option><option value="6" label="四川省">四川省</option><option value="7" label="广东省">广东省</option></select>
	</div>
	</div>	

  <div class='input-row'>
    <div id="company_industryilleg" class="cuserrorlist">请选择所属行业</div>
  <div class="sidebar">
  <label>所属行业</label>
  </div>
  <div class='content'>
  <select name="company_industry" ng-options="c.value as c.desc for c in industryOptions" ng-model="company.form.industry" ng-change="industryChange()" required="" input-focus="" class="ng-pristine ng-invalid ng-invalid-required ng-touched"><option value="" class="">请选择</option><option value="0" label="电子商务">电子商务</option><option value="1" label="社交网络">社交网络</option><option value="2" label="智能硬件">智能硬件</option><option value="3" label="媒体门户">媒体门户</option><option value="4" label="工具软件">工具软件</option><option value="5" label="消费生活">消费生活</option><option value="6" label="金融">金融</option><option value="7" label="医疗健康">医疗健康</option><option value="8" label="企业服务">企业服务</option><option value="9" label="旅游户外">旅游户外</option><option value="10" label="房产家居">房产家居</option><option value="11" label="数字娱乐">数字娱乐</option><option value="12" label="在线教育">在线教育</option><option value="13" label="汽车交通">汽车交通</option><option value="14" label="其它">其它</option><option value="15" label="物流">物流</option></select>
  </div>
  </div>  


  <input class='center-block btn  btn-success ' type='submit' value='下一步'/>

</form>
 	</div>

</div>

 {% endblock %}