{% extends "base_1.html" %}
{% load time_filter %}
{% block HeadDoc %}
{% load staticfiles %}
<link href="/static/css/company_built3.css" rel="stylesheet">
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>

<script type="text/javascript">
$(document).ready(function(){
	company_associatetitle_content = $('#company_associatetitle_content').text()
 	company_associatetitle.setData(company_associatetitle_content);
 	company_product_content = $('#company_product_content').text()
 	company_product.setData(company_product_content);
 	company_client_content = $('#company_client_content').text()
 	company_client.setData(company_client_content);
 	company_sameproduct_content = $('#company_sameproduct_content').text()
 	company_sameproduct.setData(company_sameproduct_content);
 	company_qita_content = $('#company_qita_content').text()
 	company_qita.setData(company_qita_content);
  company_team_content = $('#company_team_content').text()
  company_team.setData(company_team_content);
})
</script>

<script>/*验证输入图片*/
$(document).ready(function(){
  $("div#iconform form").submit(function(e){
    var input = $("#iconinput").val()
    if (input == "")
    {
      $('#erroricon').css("margin-bottom","-34.718px");
    $('#erroricon').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    /*alert("ok");*/
    return true;
    }
  });
});
</script>

<script>/*验证输入图片*/
$(document).ready(function(){
  $("div#iconform1 form").submit(function(e){
    var input = $("#iconinput1").val()
    if (input == "")
    {
      $('#erroricon').css("margin-bottom","-34.718px");
    $('#erroricon').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    /*alert("ok");*/
    return true;
    }
  });
});
</script>

<script>/*验证输入图片*/
$(document).ready(function(){
  $("div#iconform2 form").submit(function(e){
    var input = $("#iconinput2").val()
    if (input == "")
    {
      $('#erroricon').css("margin-bottom","-34.718px");
    $('#erroricon').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    /*alert("ok");*/
    return true;
    }
  });
});
</script>

<script>/*验证输入图片*/
$(document).ready(function(){
  $("div#iconform3 form").submit(function(e){
    var input = $("#iconinput3").val()
    if (input == "")
    {
      $('#erroricon').css("margin-bottom","-34.718px");
    $('#erroricon').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    /*alert("ok");*/
    return true;
    }
  });
});
</script>




{% endblock %}
 {% block content %}

<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="erroricon" style="text-align: center;">请选择图片</div>
        <h4 class="modal-title" id="myModalLabel">公司Logo</h4>
      </div>
      <div class="modal-body">
<div id='iconform'>
<form   enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
<a id='iconinputcover' href="#" onclick="document.getElementById('iconinput').click(); return false;" /><h5>浏览本地图片...</h5></a>
<input id='iconinput' type="file" name="img"  accept="image/*" style="visibility: hidden;"/>
<button type="submit" class="btn btn-default btn-success">上传</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="erroricon" style="text-align: center;">请选择图片</div>
        <h4 class="modal-title" id="myModalLabel">上传产品介绍图1</h4>
      </div>
      <div class="modal-body">
<div id='iconform1'>
<form   enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
<a id='iconinputcover' href="#" onclick="document.getElementById('iconinput1').click(); return false;" /><h5>浏览本地图片...</h5></a>
<input id='iconinput1' type="file" name="img1"  accept="image/*" style="visibility: hidden;"/>
<button type="submit" class="btn btn-default btn-success">上传</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="erroricon" style="text-align: center;">请选择图片</div>
        <h4 class="modal-title" id="myModalLabel">上传产品介绍图2</h4>
      </div>
      <div class="modal-body">
<div id='iconform2'>
<form   enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
<a id='iconinputcover' href="#" onclick="document.getElementById('iconinput2').click(); return false;" /><h5>浏览本地图片...</h5></a>
<input id='iconinput2' type="file" name="img2"  accept="image/*" style="visibility: hidden;"/>
<button type="submit" class="btn btn-default btn-success">上传</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="erroricon" style="text-align: center;">请选择图片</div>
        <h4 class="modal-title" id="myModalLabel">上传产品介绍图3</h4>
      </div>
      <div class="modal-body">
<div id='iconform3'>
<form   enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
<a id='iconinputcover' href="#" onclick="document.getElementById('iconinput3').click(); return false;" /><h5>浏览本地图片...</h5></a>
<input id='iconinput3' type="file" name="img3"  accept="image/*" style="visibility: hidden;"/>
<button type="submit" class="btn btn-default btn-success">上传</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
</div>
      </div>
    </div>
  </div>
</div>

 <div class="container">
 	<div class='head'>
 		<h2>
 			编辑 / 完善"{{company.title}}"信息
 		</h2>
 		<p>
 			完整详尽的公司信息，有助于读者快速清晰地了解公司
 		</p>
 	</div>

 	<div class='form-content'>
<form class="creat-form"  action="#" method="post">
    {% csrf_token %}
  <div class="ff-form-title">
    <span class='span-mark-author'>
    公司信息
    </span>
  </div>
	<div class='input-row'>
	<div class="sidebar">
	<label class='firm_logo'>公司Logo</label>
	</div>
	<div class='content'>
	<button  type="button" class="btn btn-success btn_logo" data-toggle="modal" data-target="#myModal1">
<img class="firm_logo_icon" src="{{company.get_image_url}}"  data-target="#myModal1">
</button>
  </div>  
	</div>

	<div class='input-row'>
	<div class="sidebar">
	<label class='firm_logo'>上传产品介绍图1</label>
	</div>
	<div class='content'>
	<button  type="button" class="btn btn-success btn_logo" data-toggle="modal" data-target="#myModal2">
<img class="firm_logo_icon" src="{{company.get_image1_url}}"  data-target="#myModal1">
</button>
  </div>  
	</div>

	<div class='input-row'>
	<div class="sidebar">
	<label class='firm_logo'>上传产品介绍图2</label>
	</div>
	<div class='content'>
	<button  type="button" class="btn btn-success btn_logo" data-toggle="modal" data-target="#myModal3">
<img class="firm_logo_icon" src="{{company.get_image2_url}}"  data-target="#myModal1">
</button>
  </div>  
	</div>

	<div class='input-row'>
	<div class="sidebar">
	<label class='firm_logo'>上传产品介绍图3</label>
	</div>
	<div class='content'>
	<button  type="button" class="btn btn-success btn_logo" data-toggle="modal" data-target="#myModal4">
<img class="firm_logo_icon" src="{{company.get_image3_url}}"  data-target="#myModal1">
</button>
  </div>  
	</div>


  <div class="ff-form-title">
    <span class='span-mark-author'>
    公司介绍
    </span>
  </div>


  <div class='input-row'>
    <div id="company_associatetitleilleg" class="cuserrorlist">一句话简介不能为空</div>
  <div class="sidebar">
  <label>一句话简介</label>
  </div>
  <div class='content'>
    <div class="text-input">
    <textarea   rows="2" cols="40" maxlength="30" minlength="5" id='company_associatetitle' name="company_associatetitle" placeholder="如：梧桐观点,做有深度的科技新闻"  type="text"></textarea>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
       company_associatetitle = CKEDITOR.replace( 'company_associatetitle' , {
        language: 'zh-cn',
        toolbar: [[ ]],
        width: '457px',
        height: '100px',
    });
    </script>
     <div id='company_associatetitle_content'>
  	{{company.associatetitle}}
  </div>
       </div>
  </div>
  </div>  

 


    <div class='input-row'>
  <div class="sidebar">
  <label>产品介绍</label>
  </div>
  <div class='content'>
    <div class="text-input">
    <textarea   rows="8" cols="40" maxlength="200" minlength="5" id='company_product' name="company_product" placeholder="介绍一下公司的主营业务和产品模式，写明产品优势，突显亮点"  type="text"></textarea>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
       company_product = CKEDITOR.replace( 'company_product' , {
        language: 'zh-cn',
        toolbar: [[ ]],
        width: '457px',
    });
    </script>
     <div id='company_product_content'>
  	{{company.product}}
  	</div>
       </div>
  </div>
  </div>  

    <div class='input-row'>
  <div class="sidebar">
  <label>目标用户</label>
  </div>
  <div class='content'>
    <div class="text-input">
    <textarea   rows="8" cols="40" maxlength="200" minlength="5" id='company_client' name="company_client" placeholder="说说市场规模及目标用户，服务的人群，典型的用户是什么样的"  type="text"></textarea>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
       company_client = CKEDITOR.replace( 'company_client' , {
        language: 'zh-cn',
        toolbar: [[ ]],
        width: '457px',
    });
    </script>
     <div id='company_client_content'>
  	{{company.client}}
  	</div>
       </div>
  </div>
  </div>  




   <div class='input-row'>
  <div class="sidebar">
  <label>竞争对手</label>
  </div>
  <div class='content'>
    <div class="text-input">
    <textarea   rows="8" cols="40" maxlength="200" minlength="5" id='company_sameproduct' name="company_sameproduct" placeholder="描述竞争对手与相似产品"  type="text"></textarea>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
       company_sameproduct = CKEDITOR.replace( 'company_sameproduct' , {
        language: 'zh-cn',
        toolbar: [[ ]],
        width: '457px',
    });
    </script>
     <div id='company_sameproduct_content'>
  	{{company.sameproduct}}
  	</div>
       </div>
  </div>
  </div> 


   <div class='input-row'>
  <div class="sidebar">
  <label>其它</label>
  </div>
  <div class='content'>
    <div class="text-input">
    <textarea   rows="8" cols="40" maxlength="200" minlength="5" id='company_qita' name="company_qita" placeholder="描述竞争对手与相似产品"  type="text"></textarea>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
       company_qita = CKEDITOR.replace( 'company_qita' , {
        language: 'zh-cn',
        toolbar: [[ ]],
        width: '457px',
    });
    </script>
     <div id='company_qita_content'>
  	{{company.qita}}
  	</div>
       </div>
  </div>
  </div> 

  <div class='input-row'>
  <div class="sidebar">
  <label>团队介绍</label>
  </div>
  <div class='content'>
    <div class="text-input">
    <textarea   rows="8" cols="40" maxlength="200" minlength="5" id='company_team' name="company_team" placeholder="描述竞争对手与相似产品"  type="text"></textarea>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
       company_team = CKEDITOR.replace( 'company_team' , {
        language: 'zh-cn',
        toolbar: [[ ]],
        width: '457px',
    });
    </script>
     <div id='company_team_content'>
    {{company.team}}
    </div>
       </div>
  </div>
  </div> 




  <input class='center-block btn  btn-success ' type='submit' value='完成'/>

</form>
 	</div>

</div>

 {% endblock %}