{% extends "base_1.html" %}
{% block HeadDoc %}
<style type="text/css">
.content-2{
	color: #449d44;
	background-color: #CCF4D9;
	border-color: #CCF4D9;
	padding: 10px;
	text-align: center;
}

body {
background-color: #f0f4fb;
}

.content-1{
	background-color: white;
	padding: 10px;
	width: 70%;
	height: 370px;
	border: 1px solid #cacaca;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.content-2 ul li{
	margin-top: 10px;
}
</style>



{% endblock %}

{% block content %}
<div class='container'>
	<div class='content-1 '>
		<div class='content-2 '>
			
  <ul>
  	  	  	<li>
  	联系人：小沈
  	  </li>
  	  	<li>
  	QQ：25456088
  	  </li>
  	<li>
  微信：kij8323
  </li>
   	<li>
  邮箱：25456088@qq.com
</li>
  </ul>
  </div>
</div>
</div>
{% endblock %}