{% extends "base_1.html" %}
{% load ckeditor_filter %}
{% load time_filter %}
{% block HeadDoc %}
<link href="/static/css/group_all.css" rel="stylesheet">
<script src="/static/js/topic_detail.js"></script>


<script>/*加载更多*/
$(function() {
  var cur_page_num = 1;
 $("body").on("click", '#morecomment-btn-block', function(){
    var $elements = $('.group-list');
    var grouplen = $elements.length;
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
           grouplen: grouplen,
          },
          });
    $.ajax({
        url: "{% url 'moretopic' %}",
        type: "post",
        success: function(data) {
        cur_page_num=cur_page_num+1;          
        /*alert(cur_page_num);  */         
        var newnode=document.createElement("div");             
        newnode.setAttribute("class", "container-fluid grid");            
        newnode.setAttribute("id","new"+String(cur_page_num));           
        document.getElementById("morecomment").appendChild(newnode); 
        $('#new'+String(cur_page_num)).load('{% url 'groupage' %}');
          },
          error: function(data) { 
              alert("Got an error dude");
          }
    });
  })
})
</script>

<script>/*去除&nbsp;*/
$(function(){ 
    $('.group-informatio-blank').each(function() {
      var $this = $(this);
      $this.html($this.html().replace(/&nbsp;/g, ''));
    })
}); 
</script>

<script>/*板块固定滚动,板块内width要定长*/
$.fn.smartFloat = function() { 
    var position = function(element) { 
        var top = element.position().top; //当前元素对象element距离浏览器上边缘的距离 
        var pos = element.css("position"); //当前元素距离页面document顶部的距离 
        $(window).scroll(function() { //侦听滚动时 
            var scrolls = $(this).scrollTop(); 
            if (scrolls > top) { //如果滚动到页面超出了当前元素element的相对页面顶部的高度 
                if (window.XMLHttpRequest) { //如果不是ie6 
                    element.css({ //设置css 
                        position: "fixed", //固定定位,即不再跟随滚动 
                        top: 0, //距离页面顶部为0 
                      
                    }).addClass("shadow"); //加上阴影样式.shadow 
                } else { //如果是ie6 
                    element.css({ 
                        top: scrolls  //与页面顶部距离 
                    });     
                } 
            }else { 
                element.css({ //如果当前元素element未滚动到浏览器上边缘，则使用默认样式 
                    position: pos, 
                    top: top 
                }).removeClass("shadow");//移除阴影样式.shadow 
            } 
        }); 
    }; 
    return $(this).each(function() { 
        position($(this));                          
    }); 
}; 
</script>

<script>
$(function(){ 
    $("#rightstableblock").smartFloat(); 
}); 
</script>

{% endblock %}


 {% block content %}
<div class="container">
<div class="col-xs-9">

 <div class="group-list-block">
  <span class="span-mark-author">热门话题</span>
 {% for item in topic %}
 <div class="group-list">
 <a href="{{item.get_absolute_url}}">
 {{item.title}}
 </a>
 <div class="group-information">
 <span class='group-informatio-blank'>
  <a href="{{item.writer.get_absolute_url}}">
 <img  class="commentusericon" src='{{item.writer.get_image_url}}'>
  </a>
 <a href="{{item.writer.get_absolute_url}}">
{{item.writer}}
 </a>
 </span>

 <span class='group-informatio-blank'>
 {{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month|time_blank_n}}前
</span>
 <span class='group-informatio-blank'>
回复数:{{item.id|Topic_comment}}
</span>


{%  if item.id|Topic_comment %}
 <span class='group-informatio-blank'>
最新回复:
{{item.lastcommentime.user}}
</span>

 <span class='group-informatio-blank'>
{{item.lastcommentime.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month|time_blank_n}}前
</span>
{% endif %}


 <span class='group-informatio-blank pull-right'>
  <a href="{{item.group.get_absolute_url}}">
  {{item.group}}
</a>
</span>

</div>
</div>
 {% endfor %}

<div id="morecomment">
</div>

 <button  id="morecomment-btn-block" type="button" class='btn btn-lg btn-default btn-block ' >点击加载更多</button> 

 </div> <!-- <div class="group-list-block"> -->
</div><!-- class="col-xs-8" -->




<div class="col-xs-3">
<div id='rightstableblock'>
<div id='hotarticle'>
  <div class="pull-left" >
  <h4><b>话题组</b></h4>
  <span class="span-mark"></span>
  </div>
<div class="rightnewtpic">
 {% for item in group %}
  <div class="rightitle">
      <a href="{{item.get_absolute_url}}">
 <div class='mod-thumb'><img src="{{item.get_image_url}}"></div>
  </a>
 <div class="project-content">
  <a href="{{item.get_absolute_url}}">
 {{item.title}}
 </a>
  <div class='group-information'>
 ({{item.id|group_topic_count}}则话题)
  </div><!--   <div class='group-information'> -->
 </div> <!-- <div class="project-content"> -->
 </div><!-- <div class="rightitle"> -->
 {% endfor %}
 </div><!-- <div class="rightnewtpic"> -->
 </div><!-- <div id='hotarticle'> -->
</div><!-- <div id='rightstableblock'> -->



</div><!-- class="col-xs-4" -->

</div><!-- class="container" -->
 {% endblock %}
 
