{% extends "base_1.html" %}
{% load time_filter %}
{% block HeadDoc %}
<link href="/static/css/home.css" rel="stylesheet">
<script src="/static/js/topic_detail.js"></script>
<script src="/static/js/hammer.js/hammer.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/smallscreenhome.css"  media="screen and (max-width: 768px)">


<script type="text/javascript">
$(function() {
var hammertime = new Hammer(document.getElementById("carousel-example-generic"));
 hammertime.on("swipeleft", function (e){
$('#carousel-example-generic').carousel('prev');
 });
  hammertime.on("swiperight", function (e){
$('#carousel-example-generic').carousel('next');
 });
 });
</script>

<script>/*加载更多*/
$(function() {
  var cur_page_num = 1;
 $("body").on("click", '#morecomment-btn-block', function(){
    var $elements = $('.newsblock');
    var homearticlelen = $elements.length;
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
           homearticlelen: homearticlelen,
          },
          });

    $.ajax({
        url: "{% url 'morearticlehome' %}",
        type: "post",
        success: function(data) {
        cur_page_num=cur_page_num+1;         
        /*alert(cur_page_num);  */         
        var newnode=document.createElement("div");             
        newnode.setAttribute("class", "container-fluid grid");            
        newnode.setAttribute("id","new"+String(cur_page_num));           
        document.getElementById("morecomment").appendChild(newnode); 
        $('#new'+String(cur_page_num)).load('{% url 'articlepagehome' %}');
        $('#morecomment-btn-block').html(data.loadcompleted) 
          },
          error: function(data) { 
              alert("Got an error dude");
          }
    });
  })
})
</script>

<script>/*去除&nbsp;*/
$(function(){ 
    $('.posttime').each(function() {
      var $this = $(this);
      $this.html($this.html().replace(/&nbsp;/g, ''));
    })
}); 
</script>

<script>
$(function(){ 
$('.carousel').carousel({
  interval: 2300
})
}); 
</script>



<script>
$.fn.imgsizeFunction = function() { 
  width = $(this).css('width');
  x = (parseFloat(width)*0.56)
  return  $(this).css('height',x+'px');
}
</script>

<script>
$(function(){ 
  $('.item, .item  a img').imgsizeFunction();
  $('.leftimgblock a img').imgsizeFunction();
}); 
</script>

<script>
$(window).resize(function(){
  $('.item, .item  a img').imgsizeFunction();
  $('.leftimgblock a img').imgsizeFunction();
});
</script>


{% endblock %}

 {% block content %}
    <div class="container">

      <div class="row">
        <div class="col-sm-8  leftcontainer">
<!--         <div class="row"> -->
          <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  {% for item in coverarticle %}
                  {% if forloop.first %}
                 <div class="item active">
                    {% else %}
                    <div class="item">
                    {% endif %}
                    <a href="{{item.get_absolute_url}}"><img src="{{item.get_image_url}}">
                      {% if item.original %}
                      <span class="original-mark"  >原创</span>
                      {% endif %}
                      <div class="carousel-caption">
                        <h3>{{item.title}}</h3>
                    </a>
                    </div>
                    </div>
                    {% endfor %}

                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="margin-left: 0px;"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> 
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-right: 0px;"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div><!-- id="carousel-example-generic" class="carousel slide" data-ride="carousel" -->



{% for item in queryset %}

          <div class="col-xs-12 newsblock" id="{{item.blockid}}">
          <div class="col-xs-4 leftimgblock">
          <a href="{{item.get_absolute_url}}"><img src="{{item.get_image_url}}" ></a>
{% if item.original %}
<span class="original-mark"  >原创</span>
{% endif %}
          </div> 
          <div class="col-xs-8 rightwordblock">
          <h3><a href="{{item.get_absolute_url}}">{{item.title}}</a></h3>
          <span><img  class="img-circle usericon hidden-xs" src='{{item.writer.get_image_url}}'></span>
          <span class="writer"><a href="{{item.writer.get_absolute_url}}">{{item.user}}{{item.writer}}</a></span> 
          <span class="posttime">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</span> 


<i class="icon-reply hidden-xs"></i><span class="hidden-xs">{{item.id|Article_comment}}  </span>   
<i class="icon-collection hidden-xs"></i><span class="hidden-xs">{{item.id|Article_collection}} </span> 

          <p class="associatetitle hidden-xs" style='padding-left: 0px;'>{{item.associatetitle}}</p>
          </div> 
          </div> <!-- newsblock -->
{% endfor %}


<div id="morecomment">
</div>

 <button  id="morecomment-btn-block" type="button" class='btn btn-lg btn-default btn-block ' >点击加载更多</button> 


        </div><!-- class="col-sm-8 leftcontainer" -->
      <!-- </div> --><!-- <div class="row">  -->  


        <div class="col-sm-4 hidden-xs">
          <div  style="margin-left: 15px;">
          <h3 class="bg-primary">争议话题</h3>
          <div style="position:relative; margin-bottom:30px;">

          <a class = 'disputetopic' href="{{covertopic.get_absolute_url}}">
            <img src="{{covertopic.get_image_url}}">
          <div class="rightblock"> 
            {{covertopic.title}}
       
          </div>
          </a>

          </div>



<div class='hotnewsblock'>
         <div class='head'>一周新闻排行</div>

    <table class="table table-hover hotnews">
      <tbody>
{% for item in hotnews %}
        <tr>
          {% if forloop.counter > 3 %}
          <th scope="row" style="color: #9e9e9e;">{{ forloop.counter }}</th>
          {% else %}
          <th scope="row" style="color: #ad0007;">{{ forloop.counter }}</th>
          {% endif %}
          <td><a href="{{item.get_absolute_url}}">{{item.title}}</a></td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div><!-- class='headblock' -->


 

<div class='advertisment1 hidden-xs'>
  <a href="http://www.underarmour.cn/">
<img src="/static/media/images/20160429_154030405_4217c30a-df9f-4693-beaf-40b30b8df01f_imageType_2.jpg" >
</a>
</div>



<div class='hotopicblock'>
         <div class='head'>热门话题</div>
    <table class="table table-hover hotopic">
      <tbody>
{% for item in topicquery %}
        <tr>
          <td><a href="{{item.get_absolute_url}}">{{item.title}}<span>{{item.id|Topic_comment}}条回复</span></a></td>
        </tr>
{% endfor %}
      </tbody>
    </table>
</div>

<div class='advertisment2 hidden-xs'>
  <a href="http://www.coca-cola.com.cn/">
<img src="/static/media/images/20160125_carma_08_withtagline1_01.jpg" >
</a>
</div>

<div class='nicecommentblock'>
<div class='head'>精彩点评</div>
    <table class="table table-hover nicecomment">
      <tbody>
{% for item in nicecomment %}
        <tr>
          {% if item.article %}
          <td><a href="{{item.article.get_absolute_url}}">{{item.user}} 评 {{item.article.title}}<br></a>{{item.text|safe}}</td>
          {% else %}
          <td> <a href="{{item.topic.get_absolute_url}}">{{item.user}} 评 {{item.topic.title}}<br></a>{{item.text|safe}}</td>
          {% endif %}
        </tr>
{% endfor %}
      </tbody>
    </table>
</div>

<div class='weixingongzhong'>
<img src="/static/media/images/qrcode_for_gh_2b7424ebf230_258.jpg" >
<h5 style='font-weight: 650;'>扫描上方二维码关注微信公众号（wutongtechnews）
</h5>
</div>
</div> <!-- <div class="row" style="margin-left: 15px;">   -->       

        </div><!-- class="col-sm-4" -->


      </div><!-- row -->

    </div> <!-- /container -->
 {% endblock %}
 