{% extends "base_1.html" %}
{% load time_filter %}
{% block HeadDoc %}
<link href="/static/css/home.css" rel="stylesheet">
<!-- <script src="/static/js/home.js"></script> -->
<script src="/static/js/topic_detail.js"></script>

<script>/*加载更多*/
$(function() {
  var cur_page_num = 1;
 $("body").on("click", '#morecomment-btn-block', function(){
    var $elements = $('.newsblock');
    var homearticlelen = $elements.length;
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
           homearticlelen: homearticlelen,
          },
          });

    $.ajax({
        url: "{% url 'morearticlehome' %}",
        type: "post",
        success: function(data) {
        cur_page_num=cur_page_num+1;         
        /*alert(cur_page_num);  */         
        var newnode=document.createElement("div");             
        newnode.setAttribute("class", "container-fluid grid");            
        newnode.setAttribute("id","new"+String(cur_page_num));           
        document.getElementById("morecomment").appendChild(newnode); 
        $('#new'+String(cur_page_num)).load('{% url 'articlepagehome' %}');
        $('#morecomment-btn-block').html(data.loadcompleted) 
          },
          error: function(data) { 
              alert("Got an error dude");
          }
    });
  })
})
</script>

<script>/*去除&nbsp;*/
$(function(){ 
    $('.posttime').each(function() {
      var $this = $(this);
      $this.html($this.html().replace(/&nbsp;/g, ''));
    })
}); 
</script>
{% endblock %}

 {% block content %}
    <div class="container container-home">

      <div class="row">
        <div class="col-xs-8  leftcontainer">
<!--         <div class="row"> -->
          <div id="carousel-example-generic" class="col-xs-12 carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  {% for item in coverarticle %}
                  {% if forloop.first %}
                 <div class="item active">
                    {% else %}
                    <div class="item">
                    {% endif %}
                    <a href="{{item.get_absolute_url}}"><img src="{{item.get_image_url}}">
                      <div class="carousel-caption">
                        <h3>{{item.title}}</h3>
                        <!-- <p>{{item.associatetitle}}</p> -->
                    </a>
                    </div>
                    </div>
                    {% endfor %}

<!--                   <div class="item active">
                    <a href="#"><img src="/static/images/IMG_1764.jpg">
                      <div class="carousel-caption">
                        <h3>xxx</h3>
                        <p>xxx</p>
                    </a>
                    </div>
                  </div>
                    <div class="item">
                    <a href="#"><img src="/static/images/IMG_1764.jpg">
                      <div class="carousel-caption">
                        <h3>xxx</h3>
                        <p>xxx</p>
                    </a>
                    </div>
                  </div>
                   <div class="item">
                    <a href="#"><img src="/static/images/1450158490822251.jpg">
                      <div class="carousel-caption">
                        <h3>xxx</h3>
                        <p>xxx</p>
                    </a>
                    </div>
                  </div> -->
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="margin-left: 0px;"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> 
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="margin-right: 0px;"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div><!-- id="carousel-example-generic" class="carousel slide" data-ride="carousel" -->
             <!--  </div> --><!-- <div class="row"> -->

<!--       <div class="row">   -->  
<!--           <a href="#">
          <div class="col-xs-6 leftblock"
               style='background-image: url(/static/images/IMG_1764.jpg);'>         
            <h3>当页面缩小,当页面缩小当页面缩小当页面缩小当页面缩小</h3> 
          </div>      
          </a>
          
          <a href="#">
          <div class="col-xs-6 leftblock1 pull-right"
               style='background-image: url(/static/images/IMG_1764.jpg);'>         
            <h3>当页面缩小,当页面缩小当页面缩小当页面缩小当页面缩小</h3> 
          </div>      
          </a> -->



{% for item in queryset %}

          <div class="col-xs-12 newsblock" id="{{item.blockid}}">
          <div class="col-xs-4 leftimgblock">
          <a href="{{item.get_absolute_url}}"><img src="{{item.get_image_url}}" style="width: 200px; height:104px;"></a>
          </div> 
          <div class="col-xs-8 rightwordblock">
          <h3><a href="{{item.get_absolute_url}}">{{item.title}}</a></h3>
          <span><img  class="img-circle usericon" src='{{item.writer.get_image_url}}'></span>
          <span class="writer"><a href="{{item.writer.get_absolute_url}}">{{item.user}}{{item.writer}}</a></span> 
          <span class="posttime">{{item.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma|time_chinese_months|time_chinese_month }}前</span> 

<i class="icon-reply"></i><span>{{item.id|Article_comment}}  </span>   
<i class="icon-collection"></i><span>{{item.id|Article_collection}} </span> 

          <p class="associatetitle" style='padding-left: 0px;'>{{item.associatetitle}}</p>
          </div> 
          </div> <!-- newsblock -->
{% endfor %}


<div id="morecomment">
</div>

 <button  id="morecomment-btn-block" type="button" class='btn btn-lg btn-default btn-block ' >点击加载更多</button> 


        </div><!-- class="col-xs-8 leftcontainer" -->
      <!-- </div> --><!-- <div class="row">  -->  


        <div class="col-xs-4 ">
          <div  style="margin-left: 15px;">
          <h3 class="bg-primary">争议话题</h3>
          <div style="position:relative; margin-bottom:30px;">

          <a class = 'disputetopic' href="{{covertopic.get_absolute_url}}">
            <img src="{{covertopic.get_image_url}}">
          <div class="rightblock"> 
            {{covertopic.title}}
       
          </div>
          </a>

          </div>



<div class='hotnewsblock'>
         <div class='head'>一周新闻排行</div>

    <table class="table table-hover hotnews">
      <tbody>
{% for item in hotnews %}
        <tr>
          {% if forloop.counter > 3 %}
          <th scope="row" style="color: #9e9e9e;">{{ forloop.counter }}</th>
          {% else %}
          <th scope="row" style="color: #ad0007;">{{ forloop.counter }}</th>
          {% endif %}
          <td><a href="{{item.get_absolute_url}}">{{item.title}}</a></td>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div><!-- class='headblock' -->


 

<div class='advertisment1'>
  <a href="http://www.underarmour.cn/">
<img src="/static/media/images/ce7172a563ccffdad81cc76c48a10735.jpg" >
</a>
</div>

<div class='hotopicblock'>
         <div class='head'>热门话题</div>
    <table class="table table-hover hotopic">
      <tbody>
{% for item in topicquery %}
        <tr>
          <td><a href="{{item.get_absolute_url}}">{{item.title}}<span>{{item.id|Topic_comment}}条回复</span></a></td>
        </tr>
{% endfor %}
      </tbody>
    </table>
</div>

<div class='advertisment2'>
  <a href="http://www.coca-cola.com.cn/">
<img src="/static/media/images/1460628528987.png" >
</a>
</div>

<div class='nicecommentblock'>
<div class='head'>精彩点评</div>
    <table class="table table-hover nicecomment">
      <tbody>
{% for item in nicecomment %}
        <tr>
          {% if item.article %}
          <td><a href="{{item.article.get_absolute_url}}"><span>{{item.user}} 评 {{item.article.title}}</span><br>{{item.text|safe}}</a></td>
          {% else %}
          <td> <a href="{{item.topic.get_absolute_url}}"><span>{{item.user}} 评 {{item.topic.title}}</span><br>{{item.text|safe}}</a></td>
          {% endif %}
        </tr>
{% endfor %}
      </tbody>
    </table>
</div>

</div> <!-- <div class="row" style="margin-left: 15px;">   -->       

        </div><!-- class="col-xs-4" -->


      </div><!-- row -->

    </div> <!-- /container -->
 {% endblock %}
 