{% extends "base_1.html" %}
{% block HeadDoc %}
<link href="/static/css/newtopic.css" rel="stylesheet">
<script>/*验证输入图片*/
$(document).ready(function(){
  $("form").submit(function(e){
    var input_title = $("#id_title").val()

    var x = CKEDITOR.instances.id_content.getData()
    alert(x)
    if (input_title == "")
    {
    $.messager.popup("请输入评论！");
    $(".modal.msg-popup .modal-body").css({
        'color': '#a94442',
        "background-color":"#f2dede",
        });
    $(".modal-open").css({
        'overflow': 'auto',
        'padding':' 0 !important',
        });
    $(".modal.msg-popup .modal-dialog").css({
        'width': '300px !important',
        'margin': '30px auto 60px',
        });
/*    $(".modal.msg-popup").css({
        'top': 'auto',
        });*/
    $(".modal.msg-popup .modal-content").css({
        'border': 'none',
        });
    return false;
    }
    else if(input_title == "1")
    {
    alert("testok");
    return false;
    }
    else
    {
    alert("ok");
    return false;
    }
  });
});
</script>
{% endblock %}

 {% block content %}
<!-- <form class="form-email"  method='POST'  action=''>
        {% csrf_token %}
        {{form}}
<input type="submit" value="Submit" />
</form> -->
<div class="container">
	<div id="erroricon_title" style="text-align: center;">请输入标题</div>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" 
      {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  
<form action="" method="post">
	{% csrf_token %}
    {{ myform.media }}
    {{ myform.as_p }}
    <input type="submit"/>
</form>
</div><!-- class="container" -->
 {% endblock %}
 
