{% extends "base_1.html" %}
{% block HeadDoc %}
<link href="/static/css/newtopic.css" rel="stylesheet">
<script>/*验证输入图片*/
$(document).ready(function(){
  $("form").submit(function(e){
    var input_title = $("#id_title").val()
    var input_content = CKEDITOR.instances.id_content.getData()
    if (input_title == "")
    {
    $.messager.popup("标题不能为空！");
    $(".modal.msg-popup .modal-body").css({
        'color': '#a94442',
        "background-color":"#f2dede",
        });
    return false;
    }
    else if(input_content == "")
    {
    $.messager.popup("内容不能为空！");
    $(".modal.msg-popup .modal-body").css({
        'color': '#a94442',
        "background-color":"#f2dede",
        });
    return false;
    }
    else
    {
    return true;
    }
  });
});
</script>
{% endblock %}

 {% block content %}

<div class="container">
<div class="center-warp">
{% if group %}
<ul class="breadcrumbs">
            <li><a href="{% url 'group_all' %}">话题组</a><span> &gt; </span></li>
            <li><a href="{{ group.get_absolute_url }}">{{ group.title }}</a><span> &gt; </span></li>
            <li>提交话题</li>
        </ul>
	<div id="erroricon_title" style="text-align: center;">请输入标题</div>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}" 
      {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  
<form action="" method="post">
	{% csrf_token %}
    {{ myform.media }}
    {{ myform.as_p }}
    <input type="submit"  value="提交" class='btn btn-lg btn-success btn-block'/>
</form>

{% else %}
<ul class="breadcrumbs">
            <li>无效的链接，请从上一级链接.<span> &gt; </span></li>
        </ul>
{% endif %}

</div><!-- <div class="center-warp"> -->
</div><!-- class="container" -->
 {% endblock %}
 
