{% extends "base_1.html" %}
{% block HeadDoc %}
<link href="/static/css/register.css" rel="stylesheet">
<script src="/static/js/register.js"></script>
<script>
$(function() {
  $("#freshcaptcha").click(function() {
    $.ajax({
        url: "{% url 'captchaview' %}",
        type: "get",
        success: function(data) {
            $(".captcha").attr("src",data.acptchaimg);
            $("#id_captcha_0").val(data.captchakey);
        },
        error: function(data) { 
            alert("Got an error dude");
        }
    });

  })
})
</script>

<script>
$(function() {
/*  var csrf_token = $(#formsignin).data('csrf');*/
  $("#id_username").blur(function() {
    var username = $(this).val()
    if (username!=""){
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', username: username },
});
    $.ajax({
        url: "{% url 'accountsview' %}",
        type: "post",
        dataType: 'json',
        success: function(data) {
          $("#test").html(data.message);
          var classname_module = $("#test").attr("class");
          $("#test").removeClass(classname_module)
          $("#test").addClass(data.classname)
        },
        error: function(data) { 
          alert("Got an error dude");
          }
  });
    }
  })
})
</script>



{% endblock %}

 {% block content %}
 <div class="container">
  <div class="container-loggin">
  <form class="form-signin" id='formsignin' role="form" method='POST' action='{{ action_url }}'>
  {% csrf_token %}
  <img class='headimag' src="/static/images/logotree/logo_7.jpg">
  <div class="form-label">
  <div id='test'></div>
  {{form}}
  </div>
  <input class='btn btn-lg btn-success btn-block' type='submit' value='{{ submit_btn }}'/>

  <span>已有帐号 <a href="">直接登录</a></span>
  </form>
  </div>
  </div>
 {% endblock %}
 