{% extends "base_1.html" %}
{% block HeadDoc %}
{% load staticfiles %}
{% load time_filter %}
<link href="/static/css/topic_detail.css" rel="stylesheet">
<script src="/static/js/topic_detail.js"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script>
/*$(document).ready(function(){
  $("form").submit(function(e){
  	var input = editor.getData();
    if (input == "")
    {
    return false;
    }
    else
    {
    alert(input);
    return false;
    }
  });
});*/
</script>

<script>
$(function() {
  $("body").on("click", '#btn-block', function(){
    var comment = editor.getData();
    if (comment!=""){
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
          comment: comment, 
          topicid: {{topic.id}}
          },
          });
    $.ajax({
        url: "{% url 'topicomment' %}",
        type: "post",
        dataType: 'json',
          success: function(data) {
            $(".freshcomment").append(
              ' <div class="comment"><span class="author-name">'+data.user+'</span><span class="author-time">&nbsp刚刚</span><div class="pl-content">'+data.text+'</div><div class="pl-box-btm"><div class="btn-dp"><i class="icon-dp"></i>我要点评</div><div class="form-comment-reply" id="'+data.commentid+'"><label for="id_commentext">Commentext:</label><textarea class="form-control" cols="40" id="id_commentext" name="commentext" placeholder="你怎么看？" rows="8"></textarea><button id="btn-block" type="button" class="btn btn-lg btn-success btn-block btn-reply">发表</button></div></div></div>'
              )
          },
          error: function(data) { 
              alert("Got an error dude");
          } 
    });
    $('html,body').animate({scrollTop:$('#btn-block').offset().top}, 100);
    $('.successlist').fadeIn("slow").fadeOut(3000);
    editor.setData('');
    }
    else
    $(this).parent().next().fadeIn("slow").fadeOut(3000);
  })
})
</script>

<script>
$(function() {
 $("body").on("click", '.btn-reply', function(){
    var comment = $(this).prev(".form-control").val()
    if (comment!=""){
/*    name = $(this).parent().parent().parent().children('.author-name').text();
    precomment = $(this).parent().parent().parent().children('.pl-content').text();*/
    preentid = $(this).parent().attr("id");
    /*parenttext = "回复@"+name+"发表的："+precomment*/
    $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}', 
          comment: comment, 
          topicid: {{topic.id}},
          /*parenttext: parenttext,*/
          preentid: preentid,
          },
          });
    $.ajax({
        url: "{% url 'topcommentcomment' %}",
        type: "post",
        dataType: 'json',
          success: function(data) {
            $('.freshchildcomment'+preentid).append(
              ' <div class="childcomment"><img class="commentusericon" src={{user.get_image_url}}><div class="rightchildcomment" id="'+data.user+'"><span class="author-name"><a href={{user.get_absolute_url}}>shen</a></span><span class="author-time"> 0&nbsp;分钟前 :</span><div class="pl-content">'+data.text+'</div><div class="btn-dp-child"><i class="icon-childcomment"></i>回复</div></div></div>'
              )
          },
          error: function(data) { 
              alert("Got an error dude");
          }
    });
    /*$('html,body').animate({scrollTop:$('#btn-block').offset().top}, 100);*/
    $('.successlist').fadeIn("slow").fadeOut(3000);
    $(this).prev(".form-control").val("")
    }
    else
    $(this).parent().parent().next().fadeIn("slow").fadeOut(3000);
  })
})
</script>

{% endblock %}


 {% block content %}
<div class="container">
<div class="col-xs-1">
<ul id="sidebar">
  <li>
	<a href="http://www.jiathis.com/send/?webid=tsina&url=http://www.urlurl.com&title={{topic.title}}">
	<i class="weiboshare">
	</i>
	</a>
  </li>
  <li>
  <a href="http://www.jiathis.com/send/?webid=weixin&url=http://www.urlurl.com&title={{topic.title}}">
  <i class="weichatshare">
  </i>
  </a>
  </li>
  <li> 
	<a href="http://www.jiathis.com/send/?webid=qzone&url=http://www.urlurl.com&title={{topic.title}}">
	<i class="qqzoneshare">
	</i>
	</a> 
  </li>
</ul>
</div>

<div class="col-xs-8">
<div id="article">
 <h1 class="t-h1">{{topic.title}}</h1>

<div class="topic-author">
                <span class="author-name">{{topic.writer}}</span>
                <i class="icon icon-line"></i>
                <span class="topic-time">{{topic.timestamp|date:"Y-m-d H:i"}}</span>
                <span class="topic-share">阅读:{{topic.readers}}</span>
                <span class="topic-pl">评论:8</span>
<!--                 <span class="topic-pl">收藏</span> -->
            </div>

<div class="topic-img-box">
</div>

<div class="topic-content-wrap">
     <p>{{topic.content|safe}}</p>
</div>


{% for item in contacts %}
    <div class="comment">
      <img  class="commentusericon" src='{{item.user.get_image_url}}'>
      <div class='rightcomment'>
      <span class="author-name"><a href="{{item.user.get_absolute_url}}">{{item.user}}</a></span>

      <span class="author-time">
      {{item.timestamp|date:"Y-m-d H:i"}}
      </span>

      <div class="pl-content">{{item.text|safe}}</div>

      <div class="pl-box-btm" id = '{{item.user}}'>
                <span class="btn-dp-reply">
                <i class="icon-dp"></i>
                回复
                </span>

              <span class="btn-dp">
                <i class="icon-dp-checkbox"></i>
                {{item.child_commentcount}}条点评
                </span>
                <div class="form-comment-reply" id="{{item.id}}">

                  {% for childitem in item.child_comment %}
                  <div class = 'childcomment'>
                    <img  class="commentusericon" src='{{childitem.user.get_image_url}}'>
                  <div class = 'rightchildcomment' id = '{{childitem.user}}'>
                  <span class="author-name"><a href="{{item.user.get_absolute_url}}">{{childitem.user}}</a></span>
                  <span class="author-time">
                  {{childitem.timestamp|timesince|time_chinese_weeks|time_chinese_week|time_chinese_minus|time_chinese_minu|time_chinese_days|time_chinese_day|time_chinese_hours|time_chinese_hour|timeblank|comma }}前 :
                   </span>
                  <div class="pl-content">{{childitem.text|safe}}</div>
                  <div class="btn-dp-child">
                    <i class="icon-childcomment"></i>回复
                  </div>
                  </div><!-- rightchildcomment -->
                  </div>
                  {% endfor %}
                  
                  <div class="freshchildcomment{{item.id}}" style='margin-top : 1em;'>
                  </div>
                    {{form}}
                <button  id="btn-block" type="button" class='btn btn-lg btn-success btn-block btn-reply' >发表</button>
              </div>
      </div>
      </div>
    </div>
{% endfor %}

<div class="freshcomment">
</div>

<div class='paginationcontain'>
<div class="pagination">
    <span class="step-links">
{% if contacts.has_previous %}
        <a class='paginator' title='上一页' href='?page={{ contacts.previous_page_number }}'><span>&lt;</span></a>
 {% endif %}
 {% for page in contacts.paginator.page_range %}
     {% if page = contacts.number %}
         <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
     {% else %}
         <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
     {% endif %}
 {% endfor %}
 {% if contacts.has_next %}
     <a class='paginator' title='下一页' href='?page={{ contacts.next_page_number }}'><span>&gt;</span></a>
 {% endif %}
    </span>
</div><!-- <div class="pagination"> -->
</div>



<div class="comment-form">
     <span class="span-mark-author">发表评论</span>
      <div class="author-info">
        {{user}}
      </div>
<!--         <form class="form-comment" role="form" method='POST' autocomplete="off" action='{{ action_url }}'> -->
    <div class="form-comment">

              <textarea name="editor1" id="editor1" rows="10" cols="80">
    </textarea>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
       editor = CKEDITOR.replace( 'editor1' , {
        language: 'zh-cn',
        toolbar: [[ '-', 'Bold', 'Italic', 'Format', 'Smiley','paragraph', ]],
        width: '700',
    });
    </script>

      <button  id="btn-block" type="button" class='btn btn-lg btn-success btn-block' >发表</button>
    </div>
  





    </div><!-- class="comment-form" -->
     </div><!-- <div id="topic"> -->
     </div>
<div class="col-xs-3">
</div>
</div><!-- <div class="container"> -->
 {% endblock %}
 
