{% extends "base_1.html" %}
{% block HeadDoc %}
<link href="/static/css/user_detailnotifications.css" rel="stylesheet">
<script src="/static/js/topic_detail.js"></script>
<link href="/static/css/userinfopub.css" rel="stylesheet">
<script>/*ajax我的评论*/
$(function() {
  $(".presentation2").click(function() {
    $.ajax({
        url: "{% url 'userdashboard_comment' %}",
        type: "get",
        success: function(data) {
            $(".dashboard").html(data.test);
        },
        error: function(data) { 
            alert("Got an error dude");
        }
    });

  })
})
</script>
{% endblock %}


 {% block content %}
 <div class="container">
<div class="container-user">

  <div class="col-xs-2">
  <ul class="nav nav-pills nav-stacked leftblock">
     <li class="presentation1" role="presentation"><a href="{% url 'user_detailinformations' userofinfor.id%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>{{hostname}}主页</a></li>
      <li class="presentation5" role="presentation"><a href="{% url 'user_userdashboardarticle' userofinfor.id%}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{{hostname}}文章</a></li>
      <li class="presentation2" role="presentation"><a href="{% url 'user_detailcomments' userofinfor.id%}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>{{hostname}}评论</a></li>
       {% if host %}
      <li class="presentation3" role="presentation"><a href="{% url 'user_detailnotifications' userofinfor.id%}"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>{{hostname}}消息</a></li>
      
      <li class="presentation4" role="presentation"><a href="{% url 'user_detailcollections' userofinfor.id%}"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>{{hostname}}收藏</a></li>
      {% endif %}
    </ul>
</div><!-- class="col-md-2" -->
  <div class="col-xs-10">
  <ul class="nav nav-pills rightblock">
      <li class="presentationw1" role="presentation"><a href="{% url 'user_detailnotifications' userofinfor.id %}">@我</a></li>
      <li class="presentationw2" role="presentation"><a href="{% url 'user_privcynotifications' userofinfor.id %}">私信</a></li>
      <li class="presentationw3" role="presentation"><a href="#"></a></li>
    </ul>

{% if host %}
    <div class="dashboard">
      {% for item in notifications %}
      <div class = 'commentlist'>
      <a href="{{item.sender_object.get_absolute_url}}">{{item.sender_object.username}}</a>在评论中@了你:
      <div class='targetcomment'>
        {{item.text|safe}}
        </div>
      <div class = 'commentinfo'>
        {{item.timestamp}}
      <span class="comment-article">
        {% if item.target_article %}
        来自文章：<a href="{{item.target_article.get_absolute_url}}">{{item.target_article.title}}
        </a>
        {% else %}
        来自话题：<a href="{{item.target_topic.get_absolute_url}}">{{item.target_topic.title}}
        </a>
        {% endif %}
      </span>
      </div><!-- <div class = 'commentinfo'> -->
      </div><!-- <div class = 'commentlist'> -->
      {% endfor %}

      <div class='paginationcontain'>
      <div class="pagination">
          <span class="step-links">
      {% if notifications.has_previous %}
              <a class='paginator' title='上一页' href='?page={{ notifications.previous_page_number }}'><span>&lt;</span></a>
       {% endif %}
       {% for page in notifications.paginator.page_range %}
           {% if page = notifications.number %}
               <a class='paginator_current' title='当前页:{{ page }}'><span>{{ page }}</span></a>
           {% else %}
               <a class='paginator' href='?page={{ page }}' title='{{ page }}'><span>{{ page }}</span></a>
           {% endif %}
       {% endfor %}
       {% if notifications.has_next %}
           <a class='paginator' title='下一页' href='?page={{ notifications.next_page_number }}'><span>&gt;</span></a>
       {% endif %}
          </span>
      </div><!-- <div class="pagination"> -->
      </div><!-- <div class='paginationcontain'> -->
      </div><!-- <div class="dashboard"> -->
{% endif %}

</div><!-- class="col-md-10" -->
</div><!-- class="container-user" -->
</div><!-- class="container" -->
 {% endblock %}
 
