{% extends "base_1.html" %}
{% block HeadDoc %}
<link href="/static/css/user_detailinformations.css" rel="stylesheet">
<script>/*验证输入图片*/
$(document).ready(function(){
  $("div#iconform form").submit(function(e){
    var input = $("#iconinput").val()
    if (input == "")
    {
    $('#erroricon').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    alert("ok");
    return true;
    }
  });
});
</script>

<script>/*验证email地址*/
$(document).ready(function(){
  $("div#emailform form").submit(function(e){
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var input = $("#id_email").val()
    if (input == "")
    {
    alert("false");
    return false;
    }
    if (filter.test(input))
    {
      alert("ok");
      return true;
    }
    else
    {
    alert("false");
    return false;
    }
  });
});
</script>

<script>/*验证密码*/
$(document).ready(function(){
  $("div#passwordform form").submit(function(e){
    var input = $("#passwordinput").val()
    if (input == "")
    {
    alert("false");
    return false;
    }
    if (input.length<6)
    {
    alert("false");
    return false;
    }
    else
    {
    alert("ok");
    return true;
    }
  });
});
</script>
{% endblock %}

 {% block content %}

<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      <div id="erroricon" style="text-align: center;">请选择图片</div>
<div id='iconform'>
<form   enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
请选择图片：<input id='iconinput' type="file" name="img"  accept="image/*" />
<input type="submit" />
</form>
</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
<div id='emailform'>
<form  enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
{{form}}
<input type="submit" />
</form>
</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
<div id='passwordform'>
<form  action="" method="post">
  {% csrf_token %}
<input id='passwordinput'  type="text" name="password"  />
<input type="submit" />
</form>
</div>
      </div>
    </div>
  </div>
</div>

 <div class="container">
<div class="container-user">


	<div class="col-xs-2">
	<ul class="nav nav-pills nav-stacked leftblock">
      <li class="presentation1" role="presentation"><a href="{% url 'user_detailinformations' user.id%}">我的帐号</a></li>
      <li class="presentation2" role="presentation"><a href="{% url 'user_detailcomments' user.id%}">我的评论</a></li>
      <li class="presentation3" role="presentation"><a href="{% url 'user_detailnotifications' user.id%}">我的消息</a></li>
      <li class="presentation4" role="presentation"><a href="{% url 'user_detailcollections' user.id%}">我的收藏</a></li>
    </ul>
</div><!-- class="col-md-2" -->
	<div class="col-xs-10">
	<ul class="nav nav-pills rightblock">
      <li class="presentationw1" role="presentation"><a href="#">帐号信息</a></li>
      <li class="presentationw2" role="presentation"><a href="#"></a></li>
      <li class="presentationw3" role="presentation"><a href="#"></a></li>
    </ul>

<div class="col-xs-12 dashboard">

<div class="col-xs-12 iconline">
  <h4 class="col-xs-1 lefticon">头像:</h4><img class="pull-left img-circle icon" src="{{user.get_image_url}}" >
<button  type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#myModal1">
 修改
</button>
</div>

<div class="col-xs-12 iconline">
<div class="col-xs-6 emailline">
  <h4>邮箱: <span class="ng-binding">{{user.email}}</span></h4>
</div>
<button type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#myModal2">
 修改
</button>
</div>

<div class="col-xs-12 lastline">
  <div class="col-xs-6 emailline">
  <h4>账号密码</h4>
</div>
<button type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#myModal3">
修改
</button>
</div>


</div><!-- class="dashboard" -->

</div><!-- class="col-md-10" -->

</div><!-- class="container-user" -->
</div><!-- class="container" -->
 {% endblock %}
 
