{% extends "base_1.html" %}
{% load time_filter %}
{% block HeadDoc %}
<link href="/static/css/user_detailinformations.css" rel="stylesheet">
<link href="/static/css/userinfopub.css" rel="stylesheet">
<script src="/static/js/userinfopub.js"></script>
<script>/*验证输入图片*/
$(document).ready(function(){
  $("div#iconform form").submit(function(e){
    var input = $("#iconinput").val()
    if (input == "")
    {
      $('#erroricon').css("margin-bottom","-34.718px");
    $('#erroricon').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    /*alert("ok");*/
    return true;
    }
  });
});
</script>


<script>/*验证email地址*/
$(document).ready(function(){
  $("div#emailform form").submit(function(e){
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    var input = $("#id_email").val()
    if (input == "")
    {
    $('#erroriconemail').css("margin-bottom","-34.718px");
    $('#erroriconemail').fadeIn("slow").fadeOut(3000);   
    return false;
    }
    if (filter.test(input))
    {
      return true;
    }
    else
    {
      $('#erroriconwrongemail').css("margin-bottom","-34.718px");
    $('#erroriconwrongemail').fadeIn("slow").fadeOut(3000);
    return false;
    }
  });
});
</script>

<script>/*验证密码*/
$(document).ready(function(){
  $("div#passwordform form").submit(function(e){
    var input = $("#passwordinput").val()
    var reinput = $("#repasswordinput").val()
    if (input == "")
    {
      $('#erroriconpassword').css("margin-bottom","-34.718px");
    $('#erroriconpassword').fadeIn("slow").fadeOut(3000);
    return false;
    }
    if (reinput == "")
    {
      $('#erroriconrepassword').css("margin-bottom","-34.718px");
    $('#erroriconrepassword').fadeIn("slow").fadeOut(3000);
    return false;
    }
    if (reinput !== input)
    {
      $('#erroriconwrongpassword').css("margin-bottom","-34.718px");
    $('#erroriconwrongpassword').fadeIn("slow").fadeOut(3000);
    return false;
    }
    if (input.length<5)
    {
      $('#erroriconpassword6').css("margin-bottom","-34.718px");
    $('#erroriconpassword6').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    return true;
    }
  });
});
</script>

<script>/*验证输入图片*/

$(document).ready(function(){
  $("div#privcycommentform form").submit(function(e){
    var input = $("#privcycomment").val()
    if (input == "")
    {
      $('#erroriconprivcycomment').css("margin-bottom","-34.718px");
    $('#erroriconprivcycomment').fadeIn("slow").fadeOut(3000);
    return false;
    }
    else
    {
    return true;
    }
  });
});
</script>

{% endblock %}

 {% block content %}

<!-- Modal1 -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="erroricon" style="text-align: center;">请选择图片</div>
        <h4 class="modal-title" id="myModalLabel">上传新头像</h4>
      </div>
      <div class="modal-body">
<div id='iconform'>
<form   enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
<a id='iconinputcover' href="#" onclick="document.getElementById('iconinput').click(); return false;" /><h5>浏览本地图片...</h5></a>
<input id='iconinput' type="file" name="img"  accept="image/*" style="visibility: hidden;"/>
<button type="submit" class="btn btn-default btn-success">上传</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
</div>

      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <div id="erroriconemail" style="text-align: center;">请输入邮箱地址</div>
        <div id="erroriconwrongemail" style="text-align: center;">email地址格式错误</div>
        <h4 class="modal-title" id="myModalLabel">修改邮箱</h4>
      </div>
      <div class="modal-body">
<div id='emailform'>
<form  enctype="multipart/form-data" action="" method="post">
  {% csrf_token %}
    <!-- <label for="id_email">新邮箱地址</label> -->
<input  id='id_email' class="form-control" type="text" name="emailaddress" placeholder="新邮箱地址" />
<button type="submit" class="btn btn-default btn-success">确定</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <div id="erroriconpassword" style="text-align: center;">请输入新密码</div>
        <div id="erroriconrepassword" style="text-align: center;">请确认密码</div>
        <div id="erroriconwrongpassword" style="text-align: center;">两次输入密码不同</div>
        <div id="erroriconpassword6" style="text-align: center;">密码长度至少为6位</div>
        <h4 class="modal-title" id="myModalLabel">修改密码</h4>
      </div>
      <div class="modal-body">

<div id='passwordform'>
<form  action="" method="post" >
  {% csrf_token %}
  <!-- <label for="passwordinput">新密码</label> -->
<input  id='passwordinput' class="form-control" type="password" name="password" placeholder="新密码" />
  <!-- <label for="repasswordinput">再次确认</label> -->
<input id='repasswordinput'  class="form-control " type="password" name="repassword" placeholder="再次确认新密码" />
<button type="submit" class="btn btn-default btn-success">确定</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
</div>
      </div>
    </div>
  </div>
</div>

<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div id="erroriconprivcycomment" style="text-align: center;">请输入内容</div>
        <h4 class="modal-title" id="myModalLabel">发送私信给：{{userofinfor.username}}</h4>
      </div>
      <div class="modal-body">
<div id='privcycommentform'>
  
{% if user.is_authenticated %}
<form  action="" method="post">
  {% csrf_token %}
  <label for="privcycomment">内容:</label>
<!-- <input  id='privcycomment' class="form-control" type="text" name="privcycomment" /> -->
<textarea  id='privcycomment'  class="form-control" type="text" name="privcycomment" ></textarea>
<button type="submit" class="btn btn-default btn-success">确定</button>
<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
</form>
{% else %}
<div class="authboard">
<div class="authboardword">
<h4>请<a href="{% url 'loggin' %}">登录</a>后给他发信</h4>
</div>
</div>
{% endif %} 

</div>
      </div>
    </div>
  </div>
</div>


 <div class="container">
<div class="container-user">


	<div class="col-xs-2 hidden-xs">
	<ul class="nav nav-pills nav-stacked leftblock">
     <li class="presentation1" role="presentation"><a href="{% url 'user_detailinformations' userofinfor.id%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>{{hostname}}主页</a></li>
      <li class="presentation5" role="presentation"><a href="{% url 'user_userdashboardarticle' userofinfor.id%}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{{hostname}}文章</a></li>
      <li class="presentation2" role="presentation"><a href="{% url 'user_detailcomments' userofinfor.id%}"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>{{hostname}}评论</a></li>
       {% if host %}
      <li class="presentation3" role="presentation"><a href="{% url 'user_detailnotifications' userofinfor.id%}"><span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>{{hostname}}消息  <span class="badge">{{ user.id|user_unread_count }}</span></a></li>
      
      <li class="presentation4" role="presentation"><a href="{% url 'user_detailcollections' userofinfor.id%}"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>{{hostname}}收藏</a></li>
      {% endif %}
    </ul>
</div><!-- class="col-md-2" -->
	<div class="col-xs-10">
	<ul class="nav nav-pills rightblock hidden-xs">
      <li class="presentationw1" role="presentation"><a href="#">帐号信息</a></li>
      <li class="presentationw2" role="presentation"><a href="#"></a></li>
      <li class="presentationw3" role="presentation"><a href="#"></a></li>
    </ul>

<div class="col-xs-12 dashboard">

<div class="col-xs-12 iconline">
  <h4 class="col-xs-1 lefticon">头像:</h4><img class="pull-left img-circle icon" src="{{userofinfor.get_image_url}}" >
{% if host %}
<button  type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#myModal1">
 修改
</button>
{% endif %}
</div>

<div class="col-xs-12 iconline hidden-xs">
<div class="col-xs-6 emailline">
  <h4>邮箱: <span class="ng-binding">{{userofinfor.email}}</span></h4>
</div>
{% if host %}
<button type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#myModal2">
 修改
</button>
{% endif %}
</div>


<div class="col-xs-12 lastline hidden-xs">
  {% if host %}
  <div class="col-xs-6 emailline">
  <h4>账号密码</h4>
</div>
<button type="button" class="pull-right btn btn-success" data-toggle="modal" data-target="#myModal3">
修改
</button>
{% else %}
<button type="button" class="btn btn-success btn-messages" data-toggle="modal" data-target="#myModal4">
给TA发私信
</button>
{% endif %}
</div>


</div><!-- class="dashboard" -->

</div><!-- class="col-md-10" -->

</div><!-- class="container-user" -->
</div><!-- class="container" -->
 {% endblock %}
 
