{% extends "base_1.html" %}
{% block HeadDoc %}
<link href="/static/css/user_detailnotifications.css" rel="stylesheet">
<script>/*ajax我的评论*/
$(function() {
  $(".presentation2").click(function() {
    $.ajax({
        url: "{% url 'userdashboard_comment' %}",
        type: "get",
        success: function(data) {
            $(".dashboard").html(data.test);
        },
        error: function(data) { 
            alert("Got an error dude");
        }
    });

  })
})
</script>
{% endblock %}


 {% block content %}
 <div class="container">
<div class="container-user">

  <div class="col-xs-2">
  <ul class="nav nav-pills nav-stacked leftblock">
      <li class="presentation1" role="presentation"><a href="{% url 'user_detailinformations' user.id%}">我的帐号</a></li>
      <li class="presentation2" role="presentation"><a href="{% url 'user_detailcomments' user.id%}">我的评论</a></li>
      <li class="presentation3" role="presentation"><a href="{% url 'user_detailnotifications' user.id%}">我的消息</a></li>
      <li class="presentation4" role="presentation"><a href="{% url 'user_detailcollections' user.id%}">我的收藏</a></li>
    </ul>
</div><!-- class="col-md-2" -->
  <div class="col-xs-10">
  <ul class="nav nav-pills rightblock">
      <li class="presentationw1" role="presentation"><a href="#">@我</a></li>
      <li class="presentationw2" role="presentation"><a href="#">私信</a></li>
      <li class="presentationw3" role="presentation"><a href="#"></a></li>
    </ul>

    <div class="dashboard">
      {% for item in notifications %}
      {{item.sender_object}}在评论中@了你{{item.text}}<br>
      {% endfor %}
      </div>
</div><!-- class="col-md-10" -->

</div><!-- class="container-user" -->
</div><!-- class="container" -->
 {% endblock %}
 
